[2019-06-11 10:11] IMP1 opened #529 "Required Date Parts (semi-strict parsing)"
It would be really nice if there was something like `STRICT_PARSING`, but for parts of the date. I'd like to be able to specific to only return dates that have a year and a month, but I don't mind a missing day part.

I haven't had a lot of time to look through the code, but it seems like the only place `STRICT_PARSING` is used is in [`dateparser/parser.py`](https://github.com/scrapinghub/datepars

[2019-06-11 11:08] IMP1 commented on #507
I'm also getting unwanted results from these sort of 'date combinations'.

My text includes `June & August 1967`, and this is returning the current June, and ignoring the August (and more importantly, the year).

It would be nice to recognise these sort of date combinations, but I'm not sure which date should be returned from parsing these strings.

@FBosler: Do you think `2019/4/1` or `2019/5/1`

[2019-06-11 12:18] FBosler commented on #507
If I remember correctly search_dates returns a list anyway. So at least to me it would be intuitive, if it were to return two dates according to the other settings like PREFER_DAY_OF_MONTH

[2019-06-18 13:21] BardiaKhalesi commented on #528
Hi @Gallaecio ,
So, just imagine the situation below:

[code]

So, as you can see, the time part has an issue: it can be detected if the separation character is ':'

[2019-06-25 14:58] arj-196 commented on #341
Hello, is this issue being considered for development?

[2019-06-26 13:06] kamilnematli commented on #336
I get this error when using dateparser.search.search_dates. The input text is: "IBAN DE 36 2698 1062 1367 4546 23"

[2019-06-28 07:51] skjerns opened #533 "Import very slow"
I figured that the import of this library is very slow (500-1000ms on my system).
Given that the library probably less complex than e.g. `numpy` or similarly large packages: Do you think the import times can be optimized in some way?

[2019-07-01 15:58] ecatkins opened #534 "Years spelt out e.g. "Two Thousand Eight""
I am dealing with some data where the dates are something of the form:

`26th day of August, in the year Two Thousand Eight`

The module correctly parses day/month, but fails on the spelt-out years. Would it be possible (or even desirable) to include this in the module? I am happy to give this a go if I could be pointed in the right direction.

[2019-07-02 02:21] philipperemy opened #535 "Warning imp python 3.6"
[code]

dateparser==0.7.1

[2019-07-02 20:20] gypapp commented on #508
I haven't debugged it yet but at the first closer look the offending lines should be https://github.com/scrapinghub/dateparser/blob/master/dateparser/parser.py#L370-L371 and https://github.com/scrapinghub/dateparser/blob/master/dateparser/parser.py#L378-L379

If I am correct I may create PR to address this issue though I would prefer having a third option for `PREFER_DATES_FROM` instead of a separ

[2019-07-02 20:56] gypapp commented on #313
It looks like a [deliberate choice](https://github.com/scrapinghub/dateparser/blob/master/dateparser/parser.py#L278-L281) not to return `time` as period but `day` instead (if I am not mistaken):
[code]
So the fix should be easy but I could not tell what the original purpose was.
@waqasshabbir could you tell us why 'time' period support is omitted by `DateDataParser`

[2019-07-03 11:57] vee-varun opened #537 "Failed to parse, if date ends with colon, "06/25/2019:""

[2019-07-03 16:09] charleybeller commented on #336
Here's another input text that throws this error on search_dates()
"P71 P11 50(3225 FRESND CA"

[2019-07-03 20:01] kamilnematli commented on #336
I found the bug on dateparser.parser.py line 279. This line has: datetime(**params) which does nothing. I don't know why it is there.
When datetime object is being created with missing parameter it throws the error.

[2019-07-08 10:37] kamilnematli commented on #424
It is actually not today's date but the reference date. As default the reference date is the current date. One workaround can be to set the reference date to 1st of January. By this, if the day is missing it will set it to 1st day of month and if day and month missing it will set it to 1st of Jan. But please be careful because there are some other date phrases that are parsed considering reference

[2019-07-08 10:44] kamilnematli opened #538 "Detects day and year while month is missing."
Let's say we have a text: "23 2019", then dateparser will set the day to 23 and the year 2019 and the month to the reference month. If the reference date is 8th of July 2019 then for "23 2019" dateparser will parse "23/07/2019". I think it is not a correct behavior. It should ignore (or parse separately) 23 and detect "2019" only.

[2019-07-09 09:23] Gallaecio commented on #538
Related to #424

[2019-07-09 14:34] andrewbaxter opened #539 "Unsafe usage parsing dates with ambiguous order"
Suppose you have a list of dates you're parsing like:
[code]
dateparser will parse the first 3 as d/m/y and the last as m/d/y.  I think it's possible to fix the data after this has been discovered since the flipping only occurs when the day is > 12, but it's not easy to notice in the first place.

Would it be possible to create an interface which would raise an error if it detects this occurring?

[2019-07-10 09:21] aaita92 commented on #539
Hi,
I had the same issue, and I observed that the function dateparser.parse() works differently on Jupyter notebook and on python console.
Anyway I fixed the problem using:
`dateparser.parse( date_to_parse  ,  settings={'DATE_ORDER': 'DMY'}  )`

[2019-07-11 09:20] asadurski commented on #535
Related to #513.

[2019-07-12 00:44] philipperemy commented on #535
@asadurski thanks for looking into that :)

[2019-07-22 12:24] wbwvos opened #543 "Specify which elements are to be expected in which order for incomplete dates"
In my work I am facing dates that can have different shapes. The dates are meant to specify a certain period, which can be more or less specific. The date always contains a year. After that it might contain a month. If we're really lucky, it also contains a day.

Some examples:
- 28 (which means ??/??/2028)
- 11/28 (which means ??/11/2028)
- November-2028 (which means ??/11/2028)
- 2028 (which mea

[2019-07-22 13:21] wbwvos commented on #543
If someone can point me in the right direction, I am willing to implement this myself.

[2019-07-23 11:30] asadurski commented on #313
Well, `period` was supposed to be the level of granularity of recognised date. So it was never meant to get down to time level.
But as you said, that's also the clearest signal of parsing the time...
To keep backwards compatibility, I suggest adding a setting switch that would influence returned period.
Does `RETURN_TIME_AS_PERIOD` sound right?
What we can also think about is whether just `time` i

[2019-07-24 10:36] asadurski commented on #543
Hey @wbwvos!
Before adding new functionality, let's check if the existing one matches your use case (if not, please comment on that).
You could try using `date_formats` argument in the order of increasing complexity (the resolution order is kept).
For instance
`date_formats=['%y', '%Y', '%m/%y', '%d/%m/%y', '%d/%m/%Y']`.

[2019-07-26 18:02] asadurski commented on #313
PR built according to previous comment: https://github.com/scrapinghub/dateparser/pull/545.

[2019-07-28 13:09] gypapp commented on #313
Sorry @asadurski for the long delay I was away a bit.
`RETURN_TIME_AS_PERIOD` sounds good to me as well. I was also thinking of what you asked about making such an option more granular for hours, minutes and so on. I would say for the time being this PR as it now suffices our current needs because the main issue was to tell whether the time part was actually parsed or just a default was used.

May

[2019-07-29 10:37] Salfiii opened #546 "Timestamp in milliseconds with minus (-) - parsing failes/returns None"
Hi,

**Version**:
dateparser==0.7.1

parsing a timestamp in milliseconds with an minus in front of it, returns None.

**Example**:

The correct date would be:
Feb 03 1964 23:00:00

If I remove the minus or pass any other positive timestamp in milliseconds, everything works as expected, so it´s definetly the minus.
I obviously can´t remove it, because it will return a wrong datetime value.

Convert

[2019-07-31 17:57] bradley-evans opened #548 "Parsing date with time zone specifier "-0000" returns NoneType"
I discovered an issue with parsing dates with a time zone specifier of `-0000`. For example:
[code]

Version information
[code]

[2019-08-05 16:26] 4n4nd opened #549 "Parsing in YMD format"
dateparser.__version__ = '0.7.1'

Problematic code sequence:
[code]
Code output:
[code]

Problem:
As you can see in the code output, the same date string gets parsed into two different formats, the first one being the correct one. This does not seem to happen when I remove `dateparser.parse("2d")` (line 7).

Current workaround:
To use `settings={"DATE_ORDER": "YMD"}` when parsing any date to force

[2019-08-12 21:16] #537 closed

[2019-08-14 10:04] #421 closed

[2019-08-14 16:14] #313 closed

[2019-08-15 17:54] diazagasatya commented on #276
I'm also running a multithread program with this and having the same issue. Try running the thread sequentially not in parallel may fix this issue.

[2019-08-16 09:23] luffy-yu opened #550 "In case of incomplete dates like '2013', would it be better to add a parameter like 'PREFER_MONTH_OF_YEAR' ?"
# current

datetime.datetime(2013, 8, 1, 0, 0)

# expected

datetime.datetime(2013, 1, 1, 0, 0)

datetime.datetime(2013, 8, 1, 0, 0)

datetime.datetime(2013, 12, 1, 0, 0)

[2019-08-19 12:50] Gallaecio commented on #550
Simply `PREFER_MONTH` should work, `DAY_OF_MONTH` is phrased like that not to be confused with `DAY_OF_WEEK` (e.g. Monday).

[2019-08-20 13:19] wbwvos commented on #543
Thanks for you reply. I do feel that this becomes rather cumbersome because I don't want to specify every option separately. This way I believe you have to specify all different options of formats of dates to be parsed. Please correct me if I'm wrong.

I think the main thing that I would like is to tell the parser to prefer years over months over days. Now it defaults to month and taking the curre

[2019-08-21 17:49] tcoyze commented on #379
I agree with this as well!

Thoughts on using a namedtuple, or even a simple standalone class to achieve the following:

[code]

[2019-08-23 06:30] ingwinlu opened #551 "As soon as settings are provided day/month/year ordering is thrown out"
When we provide a settings dictionary to a DateDataParser (or to parse directly) locale ordering of language is ignored:
[code]

[2019-08-25 08:41] Laogeodritt commented on #403
I have found that the following MWE also seems to produce the bug, even if PREFER_DATES_FROM is not set:

[code]

[2019-08-30 09:06] ilienert opened #553 "Should have a 'zero' option for incomplete dates"
Instead of forcing some default day of the month for incomplete dates, it would be very helpful if you could zero out the day so you'd know what part of the date string was missing.

Example:
[code]
The same behaviour should be available for years, months, etc.

[2019-09-02 12:53] jacekchalupka opened #554 "Default date timezone not consistent"
When trying to parse time without date specified, returned date is inconsistent in different formats.

My computer date is set to: 2019.08.02 01:10 Timezone +2. It means that locally it is 2nd of August and in UTC it is 1st of August.

[code]

Notice that first parsed date have day in utc time and second in local time.

I believe local time zone should be used by default with option to pass timezo

[2019-09-03 17:47] rennerocha commented on #549
The first call uses `en` as locale (as none is specified). The second call (`dateparser.parse("2d")`) uses`es` as locale.

As `try_previous_locales=True`, in `DateDataParser` instance, and `es` is in `previous_locales` list (because of the second call), when we do the first call again, the string will be converted considering `es` as locale.

Lines of interest:
https://github.com/scrapinghub/datep

[2019-09-03 18:38] rennerocha commented on #514
Same root cause as #549 . Printing [the content of this line](https://github.com/scrapinghub/dateparser/blob/master/dateparser/__init__.py#L53), we can see that the locale used changed.

[code]

[2019-09-04 13:37] 4n4nd commented on #549
Thanks

[2019-09-05 14:55] asadurski commented on #508
That is a real bug related only to weekdays. Parsing today's weekday name with default settings (current period) should return today's date, not last week.
What's more, we had some tests that supported that broken functionality. Thank you for voicing this, PR #559 is aimed at fix.

[2019-09-05 16:06] noviluni opened #560 "Adding `DEBUG_INFO` setting"
I was thinking about how to improve the "debugging" process when weird things happen...

And I realized that it could be really useful to add an option to "see" what happens behind the scenes. It could be, for example, a setting called `DEBUG_INFO` that when `True` shows relevant information to help you to understand what's happening.

I was trying a little and that's what I got.

- - - - -

Input

[2019-09-05 16:08] noviluni commented on #560
I just added a draft PR with the code I used to get the `log` in the examples.

[2019-09-05 22:00] noviluni commented on #516
I used the idea here: https://github.com/scrapinghub/dateparser/issues/560 (with the code from here: https://github.com/scrapinghub/dateparser/pull/561) and that is what I found:

- - - - -

In:
[code]

Log:
[code]

Out:
[code]

- - - - -
In:
[code]

Log:
[code]

Out:
[code]

- - - - -
In:
[code]

Log:
[code]

Out:
[code]
- - - - -
With this, it's easy to know what happens: `y` is skipped when usi

[2019-09-05 22:19] noviluni commented on #528
I tried to add it locally and it doesn't seem to solve it, but looking at `date_translation_data/nl.py `, it seems that `h` is not an accepted abbreviation for "hour" in Dutch.

[code]

[2019-09-05 22:21] noviluni commented on #560
It could help in some situations like this: https://github.com/scrapinghub/dateparser/issues/520#issuecomment-489556731

[2019-09-05 22:26] noviluni commented on #518
Isn't this the expected behaviour?

If the word is really common it should be added to the `skip` section in that locale, otherwise I think it's really difficult to give a result as that word could mean something like "3 days before ..." or something like that and the result would be totally incorrect.

[2019-09-05 22:42] noviluni commented on #519
The first example is not using Chinese but Japanese instead.
In: `dateparser.parse("4月20日 18:10", locales=['zh'])`
Out: `None`

In: `dateparser.parse("4月20日 18:10", locales=['ja'])`
Out: `datetime.datetime(2020, 4, 5, 18, 10)`

And for some reason it parses `4` as month and `20` as year...

Of course, using the English version of the same:
In: `dateparser.parse("4month20day")`
Out: `datetime.datet

[2019-09-06 06:32] karthikshub commented on #514
Thank you !

[2019-09-06 09:27] noviluni commented on #516
I forgot to mention that, of course, adding `y` as abbreviation for `year` in the English language will fix it: https://github.com/scrapinghub/dateparser/pull/562

[2019-09-06 09:59] asadurski commented on #516
Beautiful! Could you just add tests supporting that theory?

[2019-09-06 10:55] noviluni commented on #516
Done! Is it enough?

[2019-09-09 04:39] raghur opened #563 "PREFER_DATES_FROM future and parse("1 min") returns time 1 min ago"
[code]
Even when 'PREFER_DATES_FROM' is set to 'future', without the 'in' keyword, the time returned in 1 min before.

Expectation is that if future dates are preferred, then `1 min` should return 1 min in future.

[2019-09-09 12:20] kishan3 commented on #527
Hi!
Not able to reproduce the issue.
[code]
dateparser version: 0.7.1

[2019-09-10 12:39] BardiaKhalesi commented on #528
Sorry, I think there is a misunderstanding here:
There is no problem with %H. The problem is the formatting: if the delimiter would not be ":", the string cannot be parsed properly. In my example (obtained from a real data), the delimiter had been set to "h"!

[2019-09-11 10:40] prudentia opened #564 "If we pass invalid string to dateparser.parse() it's taking very log time"
I found this problem while i using dateparser.parse(), if some invalid string is given its taking really long time.

=========== ==========

import dateparser

a = 100
while a!=0:
    a-=1
    b = dateparser.parse("")

It took 12 seconds

===================

import dateparser

a = 100
while a!=0:
    a-=1
    b = dateparser.parse("my name is not taj")

It took 18 seconds

[2019-09-11 14:23] Bachmann1234 opened #565 "Pypy (2) breaks on importing parse"
When installing dateparser the most recent version of the regex library is installed which seems to break in pypy (works in pypy3 in my experiments)

When I uninstall it and install the version in your requirements.txt the import seems to work fine. Here is my session

[code]

[code]

Im not sure if yall want to pin the version in setup.py or if there is an issue that I should file over at the reg

[2019-09-11 14:58] systemcatch opened #566 "Cannot install dateparser due to regex package"
Running into this error when trying to install from [arrow's requirements.txt](https://github.com/crsmithdev/arrow/blob/master/requirements.txt)

**OS** - Ubuntu 16.04
**Python** - 3.7.4 (default, Sep  2 2019, 20:44:09) [GCC 5.4.0 20160609]

[code]

However running the same command on Windows 10 everything installs fine.

Might be related to #565

[2019-09-12 06:11] ingwinlu commented on #551
thanks for fixing, planning a release soon?

[2019-09-13 09:13] asadurski commented on #527
I must say I can't reproduce this myself. I tried:
- using `RELATIVE_BASE` setting set to `datetime(2019, 6, 3)`,
- rolling back to commits `ac212f45096c2d3905207853b12555a2188f21c5` and `11a761c99d3ee522a3c63756b70c106a579e8b5c` which would be likely ones,
- playing Marty McFly, I set my system date and regional settings to match June 3rd, 2019 in US...
Proof that Github played along:
![image](ht

[2019-09-13 10:50] Exagone313 commented on #566
You need to install Python with the development header files (like Python.h).

[2019-09-14 09:15] systemcatch commented on #566
Hi @Exagone313 thanks for replying. I already have `python3-dev` installed.

[code]

But as you say there's probably something broken with my installation (using deadsnakes ppa for python 3.7), I'll check things over again and maybe try a source install.

[2019-09-14 09:15] #566 closed

[2019-09-14 23:11] ArthurSens opened #567 "Word "do" is parsed as "tomorrow""
Command

[code]
Current result(the day I executed
[code]

Expected result
[code]

To be honest, it would be nice if `next month` could be parsed by getting the current month and adding 1...buuuuut the main reason of the issue is that the word "Do" is being interpreted for some reason

[2019-09-17 09:49] #310 closed

[2019-09-17 09:50] #508 closed

[2019-09-17 10:51] #343 closed

[2019-09-18 06:21] kishan3 commented on #551
@ingwinlu New version released now.

[2019-09-18 06:32] asadurski commented on #535
Closed with https://github.com/scrapinghub/dateparser/pull/513.

[2019-09-18 06:32] #535 closed

[2019-09-18 06:36] asadurski commented on #488
Closed with https://github.com/scrapinghub/dateparser/pull/544.

[2019-09-18 06:36] #488 closed

[2019-09-20 10:10] lopuhin opened #568 "Bare separator parsed as current date"
[code]

I would expect ``None`` to be returned.

[2019-09-20 11:25] lopuhin commented on #568
And some other common examples which should return None I think:
[code]

[2019-09-20 11:54] lopuhin commented on #525
The same feature in the ``parse`` function would be great to have as well, or a simple way to tell that the date was relative.

[2019-09-27 20:09] klmunday opened #571 "dateparser.parse returns None for any datetime using 24hr format and time period when hour is > 12"
Whils't parsing some data I got an error when processing `Sep 28, 2016, 20:13 pm`, I believe this is due to a conflict between 24 hour time format and a time period being supplied.
[code]
I know this isn't technically valid since the period is not needed with 24hr format. Instead of returning `None` I believe that it would be useful to instead just ignore the given period and fallback on the given

[2019-10-03 14:16] augustomen commented on #567
"Do" is short for "Domingo" - Spanish for Sunday. Include argument `add_detected_language` to understand why it happens:

[code]

Restrict languages to remove these noises. Unfortunately, "next month" is not detected:

[code]

[2019-10-03 15:34] anarcat commented on #548
i confirm this is a problem that breaks feed2exec with the XKCD feed as seen here:

https://www.xkcd.com/rss.xml

Other offsets and timezones work correctly:

[code]

[2019-10-04 10:13] christosvar commented on #522
I think this would be very useful.

What I would expect as output from `search_dates` would be like:
'12th - 13th April 2019' -> `[('12th', datetime.datetime(2019, 4, 12, 0, 0)), ('13th April 2019', datetime.datetime(2018, 4, 13, 0, 0))]`
'Aug - Sept 2018' -> `[('Aug', datetime.datetime(2019, 8, 4, 0, 0)), ('Sept 2018', datetime.datetime(2018, 9, 4, 0, 0))]`

I think that this is different than #2

[2019-10-07 01:43] philipperemy commented on #535
Thanks!

[2019-10-08 18:38] Dimbreath commented on #563
I can confirm this. Any solution so far?

[2019-10-08 21:53] ArthurSens commented on #567
Oh that's good to know! I didn't know about the `add_detected_language`

But is that the intended behavior?

I mean... I get that it detected a word that might mean a date in spanish, but the sentence is not written in spanish at all and clearly the word "Do" does not mean "Sunday" at this sentence in particular

[2019-10-09 14:06] saroup opened #573 "dateparser not able to parse things like next tuesday."
It parses Tuesday to the date of the Tuesday of the current week but when input is next Tuesday it returns none.

[2019-10-10 05:51] kishan3 commented on #527
Hi Can we close this @dmarx @ArturGaspar ?

[2019-10-10 05:56] kishan3 commented on #328
Since this is fixed can this be closed @ArturGaspar ?

[2019-10-16 03:32] Watchful1 commented on #563
I submitted a pull request to fix this months ago but it was never merged: https://github.com/scrapinghub/dateparser/pull/530

[2019-10-18 12:55] manycoding opened #575 "DateSearchWithDetection.detect_language returns "vi" for "2018-10-17T00:00:00""
[code]

[2019-10-18 13:03] manycoding opened #576 "README needs table of contents"
The doc is too long to read, both here and on readthedocs.
Table of contents is much appreciated.

[2019-10-21 06:45] asadurski commented on #575
Language detection is very faulty with limited linguistic resources, it's better to use any external language detector. But as a suggested way to improve the situation, I think we could even try plugging in https://pypi.org/project/langdetect/ as optional dependency. Any other ideas?

[2019-10-21 08:20] lopuhin commented on #575
From my perspective, libraries like langdetect could be better applied on the whole page text, not just on a date, which seems to put this out of scope of dateparser. Also I don't expect any general-purpose language detection libraries to works reasonably well on dates, at best they should nor return any language in this case.

[2019-10-21 21:35] tannercollin commented on #573
I'm having the same issue except it's returning Tuesday of the previous week:

[code]

[2019-10-22 20:59] srhrshr commented on #361
Tested this scenario in `dateparser==0.7.0` and it seems like it's working now -
[code]
@manycoding, feel free to mark this as resolved and close the issue.

[2019-10-22 21:16] manycoding commented on #361
Fixed some winters ago.

[2019-10-22 21:16] #361 closed

[2019-10-22 21:32] srhrshr commented on #358
@manycoding, I believe this issue has been addressed in the `0.7.0` release as well - can be marked as resolved and closed.

[code]

[2019-10-22 21:37] manycoding commented on #358
Fixed in `0.7.2`

[2019-10-22 21:37] #358 closed

[2019-10-25 13:19] sortafreel commented on #462
The issue feels outdated:
[code]

[2019-10-29 14:17] davidbernat opened #579 "Feature Request: get_date_data add key-value signifying a relative date?"
Wow. This package is great!

Feature request here:
Parsing "1 day ago" will return a datetime set to one day before now. The granularity key-value will return a period="day". It would be very helpful is the date data response also notified that the datetime was compiled from a relative date string (e.g., relative=True), and possibly even the basis of the datetime used (e.g., relative_to=datetime(.

[2019-10-30 14:51] manycoding opened #580 "Parsing date with ist or Bdst returns Israeli time zone"
dateparser               0.7.2
**How to reproduce**
[code]
**Expected:** Indian Standard Time, +05:30
Same for `16 Feb 2018 09:59 AM BdST`

I saw the comment on the top https://github.com/scrapinghub/dateparser/blob/a01d0d1d6278e05b292cb818e44586008c64db12/dateparser/timezones.py
And in all the links the first value for IST is `Indian Standard Time`. I haven't debugged it yet to understand why we

[2019-10-31 08:56] binhvq opened #581 "Error in vietnamese string"
Ex: thứ 5 tuần trước
(Last Thursday)
Datetime string from facebook

[2019-11-01 08:31] McWillie opened #582 "False positives when searching dates"
OS: Windows 10.0.17763.805
dateparser version: 0.7.2

When using the `search_dates()` function some numerical and punctuation mark combinations that don't resemble any date format I've ever seen get picked up as dates.

To reproduce run the following code and replace `<false positive>` with any one of the following:

- 8: 100M2_
- 100M
- 10,00 2
- 19,60 5
- 73 20

[code]

[2019-11-02 05:50] li1201 opened #583 "Why I tried dateparser.parse and return the wrong result"
I tried to use dateparser to convert the time but got the wrong result. Below is what I tried:

dateparser.parse('07:00 PM PST, November 02, 2019', settings={'TO_TIMEZONE': 'Asia/Taipei'})

It should returns: datetime.datetime(2019, 11, 3, 10, 0, tzinfo=<DstTzInfo 'Asia/Taipei' CST+8:00:00 STD>)

But I got this return: datetime.datetime(2019, 11, 3, 11, 0, tzinfo=<DstTzInfo 'Asia/Taipei' CST+8:00:

[2019-11-04 09:14] asadurski commented on #576
Thanks for highlighting this!
After talking to @kishan3 we agreed that we should move most of the text from README to separate files in `/docs` and link to them manually, or rely on Sphinx to create TOC for us.

[2019-11-05 02:49] Jefffish09 commented on #564
@prudentia Agree!

If pass some invalid content to dateparser.parse(), some cases will cost very very long time. I think it need a parameter like "timeout" to skip( or return error)  these cases if parse for a long time.

[2019-11-07 17:30] toixtran opened #584 "Return None when parser Indonesia date string"
### Problem
- Input : `6 Nop 2019`
- Output: return `None`

[2019-11-07 19:06] #548 closed

[2019-11-08 18:02] manycoding opened #586 "Dateparser fails for strings with date and non date integer"
[code]

I expect it to extract `1990`.

[2019-11-11 22:21] seanthegeek opened #587 "Email date header fials to parse"
The following code returns `None`, instead of a parsed date.

[code]

Is seems `dateparser` does not like the `-0000` offset. Removing the offset, or using a different offset works fine,

Another example that fails:

The string parses correctly when (CET) is removed.

[2019-11-12 08:23] jleclanche opened #588 "Support for Thai calendar"
Related: #21

Thai datetime parsing is implemented, but thai calendar does not seem to be:

[code]

This should be January 15, 2016.

[2019-11-12 08:33] jleclanche commented on #588
And by January 15 I mean March 15. It's wrong on the month as well. (I think… I don't speak Thai)

[2019-11-12 08:38] jleclanche commented on #588
Extracted th-TH months from my dataset:

[code]

[2019-11-12 08:39] jleclanche commented on #588
Some example dates:

[code]

[2019-11-12 09:58] jleclanche opened #589 "Thai does not respect DATE_ORDER"
[code]

[2019-11-12 10:04] jleclanche opened #590 "Bad parsing of korean date"
[code]

Should be parsed as 2013-08-14.

[code]

Should be parsed as 2013-08-14 23:54. It seems to be finding some sort of relative time.

[2019-11-12 10:08] jleclanche commented on #590
Here's some data on various datetimes I can parse but dateparser fails at.
[ko-kr-examples.txt](https://github.com/scrapinghub/dateparser/files/3835523/ko-kr-examples.txt)

[2019-11-20 05:09] murray-minito commented on #582
Same here on OSX 10.15 with version 0.7.2

Here are some examples of results that should not be dates

`search_dates(text,languages=['en'], settings={'STRICT_PARSING': True,'PREFER_DATES_FROM': 'past','DATE_ORDER': 'DMY'}, add_detected_language=True)`

-- Clearly wrong
('32° 34’S', datetime.datetime(2013, 10, 16, 23, 59, 7), 'en')
('123°', datetime.datetime(1900, 1, 1, 1, 2, 3), 'en')
('6005', dat

[2019-12-10 17:47] Lenny415 opened #597 "Fix dependencies version"
Hi there,
today my CI pipeline failed to build my docker image in which the python code references your lib.
It failed because gcc was missing from my image which was not the case the last time it was built (4 days ago).
After some investigation why the gcc was required, I found that regex was the culprit. regex is a dependency of dateparser and it was updated yesterday with the version 2019.12.9.

[2019-12-10 20:09] Gallaecio commented on #597
Fixing dependency versions makes sense on applications using those libraries, but I don’t think libraries are meant to have fixed versions of dependencies, only version checks to ensure that compatible dependency versions are used.

[2019-12-11 11:08] Gallaecio commented on #597
May this be a duplicate of https://github.com/scrapinghub/dateparser/issues/505?

[2019-12-11 11:48] #353 closed

[2019-12-11 11:51] Gallaecio commented on #362
[code]

[2019-12-11 11:51] #362 closed

[2019-12-11 11:57] Gallaecio commented on #378
I think the answer is the `date_formats` parameter of `dateparser.parse()`.

[2019-12-11 12:00] Gallaecio commented on #253
Shall we close this?

[2019-12-11 12:08] Lenny415 commented on #597
This is similar, you're right!
As I said, the problem with a library not fixing dependencies (with a single version or a range) is that you can't ensure that the version of the lib you released will still work when a new version of a dependency will be.
And even a range of versions is complex to achieve when the dependency you use doesn't respect the semantic versioning.

[2019-12-11 12:12] Gallaecio commented on #597
I was wrong then, this is definitely something we need to do. Let us close this and keep track of this issue at #505.

[2019-12-11 12:13] Gallaecio commented on #409
Related StackOverflow question: https://stackoverflow.com/q/57742320/939364

[2019-12-11 12:23] Gallaecio commented on #380
Duplicate of #337

[2019-12-11 12:23] #380 closed

[2019-12-11 12:23] Gallaecio commented on #418
Duplicate of #337

[2019-12-11 12:23] #418 closed

[2019-12-11 12:23] Gallaecio commented on #521
Duplicate of #337

[2019-12-11 12:30] Gallaecio commented on #291
Since this specific issue has been fixed, let us keep track of this at #46.

[2019-12-11 12:30] #291 closed

[2019-12-11 12:32] Gallaecio commented on #46
There is a great potential for code sharing between dateparser and price-parser here. I’ve recently proposed an English-only approach for price-parser (https://github.com/scrapinghub/price-parser/pull/11).

Time for **number-parser**? :grin:

[2019-12-11 12:38] Gallaecio commented on #423
May we close this in favor of #505?

[2019-12-11 12:44] Gallaecio commented on #458
Duplicate of #402

[2019-12-11 12:44] #458 closed

[2019-12-11 12:49] Gallaecio commented on #461
[code]

[2019-12-11 12:49] #461 closed

[2019-12-11 12:55] Gallaecio commented on #466
Are you asking for regions (which are country codes) to be taken into account for timezones?

[2019-12-11 13:01] Gallaecio commented on #463
@anoopparampil What output are you expecting? You are asking to interpret `'05-11-18'` as a date after 2018-11-06 (when you opened this ticket).

[2019-12-11 13:03] Gallaecio commented on #468
I believe the current implementation is correct. If the year is `18`, and 2018 is in the past, `18` should be interpreted as `2118` when asking for a future date.

[2019-12-11 13:04] Gallaecio commented on #392
Closing due to a lack of feedback from the original author after indicating that we cannot reproduce the issue. @trideeprath’s feedback can be handled at #468 instead.

[2019-12-11 13:04] #392 closed

[2019-12-11 13:07] Gallaecio commented on #349
Closing due to a lack of feedback.

[2019-12-11 13:07] #349 closed

[2019-12-11 13:09] Gallaecio commented on #330
Limiting the language to English fixes the case of `to`, but this looks wrong indeed:
[code]

[2019-12-11 13:10] Gallaecio commented on #475
I’m not sure this falls within the purpose of this library.

[2019-12-11 13:19] Gallaecio commented on #497
Closing due to a lack of feedback.

[2019-12-11 13:19] #497 closed

[2019-12-12 10:57] Gallaecio commented on #454
[code]

[2019-12-12 10:57] #454 closed

[2019-12-12 10:59] #268 closed

[2019-12-12 10:59] Gallaecio commented on #268
[code]

[2019-12-12 11:01] Gallaecio commented on #524
It is expected. The list of supported locales can be found at https://dateparser.readthedocs.io/en/latest/#supported-languages-and-locales

[2019-12-12 11:08] Gallaecio commented on #554
[code]

[2019-12-12 11:10] Gallaecio commented on #565
May this be a duplicate of #505?

[2019-12-12 11:20] Gallaecio commented on #567
dateparser cannot detect the language of the whole text and act accordingly.

@ArthurSens  Do you want this ticket to remain open as a request to add language detection to dateparser?

Otherwise, since you can use `languages` as @augustomen suggested, I think we should close this.

[2019-12-12 11:21] Gallaecio commented on #328
[code]

[2019-12-12 11:21] #328 closed

[2019-12-12 11:25] Gallaecio commented on #441
Related to #276

[2019-12-12 11:36] #432 closed

[2019-12-12 11:37] stdedos commented on #524
Would it be possible / Does it make sense to add them as aliases?

[2019-12-12 11:44] #527 closed

[2019-12-12 11:49] Gallaecio commented on #448
I think this is expected behavior. Should we improve the error message or the documentation?

[2019-12-12 11:50] Gallaecio commented on #567
Hmm… dateparser does have some kind of language detection functionality, so maybe this is not too far-fetched.

[2019-12-12 11:54] #462 closed

[2019-12-12 11:57] Gallaecio commented on #525
May this be a duplicate of #312?

[2019-12-12 12:00] Gallaecio commented on #452
Duplicate of #579

Closing this one because #579, although newer, is a bit more complete and shaped as a feature request.

[2019-12-12 12:00] #452 closed

[2019-12-12 13:23] jacekchalupka commented on #554
Did you set up system time correctly? Because the issue is only present if your local date is different than UTC date.
At 0.7.2 I still get the bug
`>>> dateparser.parse('10:10')
datetime.datetime(2019, 12, 11, 10, 10)

datetime.datetime(2019, 12, 12, 10, 10)`

[2019-12-12 13:37] Gallaecio commented on #554
I’m at UTC+1 at the moment:

[code]

So there must be some other explanation.

[2019-12-12 13:49] stdedos commented on #524
I am not sure if you'd "specifically" like to add `fi_FI`, `fi_FI.UTF-8` as aliases to `fi`, but you _could_ somehow add logic to infer `fi_FI =~ fi` as equivalent.

You could add `DeprecationWarning`s if you'd like to teach people (and me), that, "Yeah, I know you meant that, but please don't do it".

[2019-12-12 13:49] Gallaecio commented on #583
According to https://www.worldtimebuddy.com/pst-to-taiwan-taipei the difference is +16h.

07:00 PM + 16h = 11:00 AM

Can you please confirm that the actual result is as expected, or provide some source that supports your claim?

[2019-12-12 13:52] Gallaecio commented on #586
Duplicate of #339

[2019-12-12 13:52] #586 closed

[2019-12-12 13:55] Gallaecio commented on #589
May this be a duplicate of #412?

[2019-12-12 13:57] Gallaecio commented on #587
Duplicate of #402

[2019-12-12 13:57] #587 closed

[2019-12-12 13:59] Gallaecio commented on #524
I personally think that your suggestion, aliases, may be a good approach here, and it should not be too difficult to implement.

[2019-12-12 14:07] jacekchalupka commented on #554
Ok, the issue with your test is that date in UTC and locally is the same. If you are UTC+1 change time on your PC to 00:30 (30 minutes after midnight). That way locally it will be 12 of December and UTC will be 11 of December. Then do the same test.

[2019-12-12 18:16] jleclanche commented on #589
Doesn't really sound like it

[2019-12-12 18:17] ArthurSens commented on #567
I don't have any needs, since I use this module only with some things that I do as a hobby and I don't have the necessary knowledge to help you guys with a PR

But if you think it's not troublesome, I guess it would be appreciated by the community (I'd be happy for sure :smile: )

(it's your call to close this or not)

[2019-12-13 11:01] Gallaecio commented on #423
This issue is not actually related to #505, but I guess we can close given the lack of further feedback from the reporter and our inability to reproduce the issue.

[2019-12-13 11:01] #423 closed

[2019-12-13 11:07] Gallaecio commented on #597
#505 is about a specific issue with `2019.02.19`, and I think the way to solve it is to change the entry in `setup.py` to `regex !=2019.02.19` (although it probably does not really affect anyone at this point).

That does not apply here, though. It sounds like the latest regex does work with dateparser, it simply requires `gcc`. If things worked fine after installing `gcc`, I think there’s nothing

[2019-12-13 11:46] Gallaecio commented on #397
Could you elaborate? What do we need to cover beyond what is already covered in https://dateparser.readthedocs.io/en/latest/#search-for-dates-in-longer-chunks-of-text?

[2019-12-13 15:25] Lenny415 commented on #597
I don't think any version of regex should work. Imagine they change the contract (parameters or result) of a function you use in your code then a previously functionnal release will not work any more.
I may add that fixing the regex version on our end is not a good practice when using loose coupling. I should not have to be aware that when I use dateparser lib I have to install the regex lib or fi

[2019-12-13 19:44] DrKendall commented on #462
It may be outdated, but still a current issue.

[2019-12-13 21:35] sortafreel commented on #462
@DrKendall how could we reproduce it?

[2019-12-13 21:43] DrKendall commented on #462
I don't know how I got it, but what could cause `pytz.exceptions.UnknownTimeZoneError: ''`?
I shared it recently, does this help: https://stackoverflow.com/questions/59198852/pytz-exceptions-unknowntimezoneerror

[2019-12-14 04:27] swingtempo opened #602 "Feature Request - MDY or DMY based on locale?"
I know there is language-based default for MDY/DMY, but is it possible to add support to locales? For example, en-gb should have DMY, but language "en" is MDY. I tried passing in the region as suggested in the docs but it didn't work as expected:
`dateparser.parse("1/12", languages=["en"], region="gb")
datetime.datetime(2019, 1, 12, 0, 0)
dateparser.parse("1/12", languages=["en"], region="us")
dat

[2019-12-14 12:23] li1201 commented on #583
Hello Gallaecio,

I think that I probably did some wrong calculation at that time. Anyway, I have no problem now. Thanks for your comment.

[2019-12-14 12:23] #583 closed

[2019-12-14 17:14] Gallaecio commented on #462
https://stackoverflow.com/questions/59198852/pytz-exceptions-unknowntimezoneerror suggests to me that this is not dateparser’s fault.

[2019-12-15 12:35] eliasdorneles commented on #253
I vote to close the issue, yes, as I don't see a strong need to improving this much given that it happens only once at import time.
Users who only need basic English date parsing and want to improve the performance can use `dateutil.parser.parse` directly.

[2019-12-15 20:57] noviluni commented on #589
It seems that this only happens with the last version:

dateparser 0.7.1

[code]

dateparser 0.7.2

[code]

[2019-12-16 08:17] noviluni commented on #584
`Nop` should be added to the indonesiand data, as well as `djan`, `peb`, `mrt`....

Here the full list:

`Jan./Djan. | Peb. | Mrt. | Apr. | Mei/Mai | Juni/Djuni | Juli/Djuli | Ag. | Sept. | Okt. | Nop. | Des.`

@toixtran would you like to submit a PR?

[2019-12-17 14:22] #253 closed

[2019-12-20 11:38] kishan3 commented on #505
Hi, @asadurski Can this be closed?

[2019-12-23 12:15] Gallaecio commented on #505
We might want to merge https://github.com/scrapinghub/dateparser/pull/600 first. Although it’s extremely unlikely it will save anyone at this point, so we might as well close both this and https://github.com/scrapinghub/dateparser/pull/600 (without merging).

[2020-01-09 09:44] 7134g opened #606 "The execution produced incorrect results"
from dateparser import parse

print(parse('20110101'))

result:
1010-02-01 01:00:00

[2020-01-10 11:29] Gallaecio commented on #606
[code]

[2020-01-10 14:07] mcarans opened #607 "dateparser.parse('02/2013', ['%m/%Y']) gives wrong datetime"
dateparser.parse('02/2013', ['%m/%Y']) gives datetime(2013, 2, 28, 0, 0) instead of datetime(2013, 2, 1, 0, 0)

datetime.strptime('02/2013', '%m/%Y') gives datetime(2013, 2, 1, 0, 0)

[2020-01-10 15:02] mcarans opened #608 "Using locale gives wrong results"
default_startdate = datetime(year=2, month=1, day=1, hour=0, minute=0, second=0, microsecond=0)
    default_enddate = datetime(year=9998, month=12, day=31, hour=0, minute=0, second=0, microsecond=0)
    s = dateparser.parse('02/2013', settings={'RELATIVE_BASE': default_startdate})
    sl = dateparser.parse('02/2013', locales=['en-001'], settings={'RELATIVE_BASE': default_startdate})
    e = datepa

[2020-01-11 13:21] 7134g commented on #606
The version I'm using right now is 0.7.2

[2020-01-14 21:48] waltertross commented on #553
Unfortunately that would be an invalid datetime (if you try to create it, you get "ValueError: day is out of range for month")
There should be another way of signalling whether date, time or both were set in each datetime. I think that with an option in settings one should be able to request an extra member of the output tuples carrying this information.

[2020-01-15 13:07] amanarora28 opened #609 "How have you made timezone.py?"
When I use search dates for Can we meet at 1:30 pm IST? with timezone set to Asia/Calcutta,
the time comes 2021-01-15 17:00:00+05:30
but it should be  2021-01-15 13:30:00+05:30
because IST is Indian Standard Time

But then I see you have mapped IST to  'UTC\+02:00' , why is that?
what does IST mean in your timezone.py?

[2020-01-15 13:19] #609 closed

[2020-01-15 13:19] amanarora28 commented on #609
got it - IST is Isreal Standard time acc to you!
https://en.wikipedia.org/wiki/List_of_time_zone_abbreviations

[2020-01-16 10:59] zakarianamikaz opened #610 "milliseconds"
hello,
when i'm parsing dates
dateparser.parse(u'now',) ==>2020-01-15 00:50:47.533726
expected  result 2020-01-16 05:50:47
how can i do it !
thanks

[2020-01-17 11:37] noviluni commented on #505
Agree with @Gallaecio . It's better to explicity avoid that version.

[2020-01-17 15:00] noviluni commented on #610
Hi @zakarianamikaz

What you are requesting is neither an issue or a bug, it is a question. Please use the "dateparser" tag at [StackOverflow](https://stackoverflow.com/tags/dateparser) to ask for help.

P.S.: You can also check the Python docs to know how to format `datetime` objects using `strftime`.

[2020-01-17 15:00] #610 closed

[2020-01-17 16:01] noviluni commented on #606
What is happening here is that by default, the `DATE_ORDER` variable in setting is `MDY`.

So this `1010-02-01` is interpretated in this way: `2-01-1010-1` (month-day-year-hour).

I suspect that what you expected to get is 2011-01-01. You can get it by using:

[code]

In this cases, where there are no spaces or symbols between the years, months and days it is impossible to do it better if you don'

[2020-01-17 17:19] 7134g commented on #606
thank you

but, I was able to parse the correct results using dateutil.

I looked at the requirements.txt content and it's true that there is a dependency on the package content of dateutil, but I'm not sure if it's entirely based on this secondary development.

datetime.datetime(2011, 1, 1, 0, 0)

That's what I want.
But, thanks for the answer, it was helpful
@noviluni

[2020-01-17 18:16] noviluni commented on #607
In this moments `dateparser` returns the last day of the month for this kind of formats. I think the reason behind that decission is that when finding only a month and a year we usually refer to the last day of that month (i.e. expiration date).

HOWEVER that is a bug/inconsistency, because there is a setting `PREFER_DAY_OF_MONTH` that should be followed, as when we just write `dateparser.parse('F

[2020-01-17 22:26] #336 closed

[2020-01-17 22:27] #576 closed

[2020-01-18 09:10] noviluni commented on #606
Good to know it was useful! I will close the issue, but if you need something don't hesitate to open it again.

[2020-01-18 09:10] #606 closed

[2020-01-20 10:17] #505 closed

[2020-01-23 16:52] jbcooley7 commented on #607
I've just run across this issue too. Supposing the PR gets final approval and is merged, is there a projected release date at which this fix will go out? I saw the most recent release was September 2019, but prior releases seemed to be on a nearly yearly cadence around the first months of the year.

[2020-01-25 10:39] Gallaecio opened #612 "Improve language detection"
Currently language detection is rudimentary and often causes incorrect interpretation of dates. See for example #567 and #575.

We need to improve how language detection works. Plugging-in an optional language detection library is an option.

[2020-01-28 08:24] noviluni opened #613 "`SUPPORT_BEFORE_COMMON_ERA` declared but not working"
I was curious about this setting and I found only two references: https://github.com/scrapinghub/dateparser/search?q=SUPPORT_BEFORE_COMMON_ERA

It seems that this setting was added here: https://github.com/scrapinghub/dateparser/commit/02d525107abcfe720b6495df8d8a1eb9028d7930 as an example/proposal (https://github.com/scrapinghub/dateparser/issues/35) but it has never been implemented.

I think we

[2020-01-28 14:33] lucasdutraf commented on #613
Hey there!
Is anyone working on this issue @noviluni ? If there is no one I could work on it.

[2020-01-28 14:37] noviluni commented on #613
@lucasdutraf go ahead, please! :smile:

[2020-02-05 16:39] craigmaloney opened #615 "Unable to parse UTC / GMT >= 10"
Noticing a bug where GMT-10 is not parsing, but GMT-5 is:

[code]

It appears that double-digit parsing isn't supported:

[code]

If it's converted to UTC-10:00 it does parse:
[code]

[2020-02-11 18:43] Gallaecio commented on #606
I still think that, without parameters, dateparser should return the expected date. But I guess it would be more of an improvement request than a bug report.

[2020-02-11 18:46] #613 closed

[2020-02-12 07:22] 7134g commented on #606
So, in the end, I didn't use the method he provided, because the format of my variable values was not fixed, so I had to match through regular expressions before using dateparser.
I still hope that the next version will modify this matching rule.

[2020-02-12 07:23] 7134g commented on #606
So, in the end, I didn't use the method he provided, because the format of my variable values was not fixed, so I had to match through regular expressions before using dateparser.
I still hope that the next version will modify this matching rule.

[2020-02-16 07:32] buriy opened #617 "Doc MDY/DMY detection issue (incoherence? error?)"
DateParser Documentation, Release 0.7.2
3.3 OOTB Language Based Date Order Preference

datetime.datetime(2016, 3, 2, 0, 0)

datetime.datetime(2016, 3, 2, 0, 0)

[2020-02-16 16:59] lucasdutraf commented on #397
Is this change still needed, @rennerocha ? I could work on it

[2020-02-17 10:06] noviluni commented on #617
Hi @buriy !

Yeah, that's an error. The first case should return `datetime.datetime(2016, 2, 3, 0, 0)`. You can open a new PR if you want. :)

Thanks for raising it!

[2020-02-17 10:19] #563 closed

[2020-02-17 11:04] #402 closed

[2020-02-17 16:28] Gallaecio opened #618 "Improve the default parsing of 20110101"
While I don’t think https://github.com/scrapinghub/dateparser/issues/606 is necessarily a bug, I do think that it would be an improvement for Dateparser to parse '20110101' the same as '2011-01-01' by default.

[2020-02-18 19:55] Vyom16 commented on #618
hello community !! This is Vyom Goel. I would love to work on this issue. Is there any active IRC channel where I can discuss issues.
Thanks

[2020-02-19 00:33] lucasdutraf commented on #617
If anyone is not currently working on it, I could!

[2020-02-19 00:53] lucasdutraf commented on #617
I´ve created a pull request that fixes this issue at #619

[2020-02-19 09:05] noviluni commented on #560
I expect to continue with this PR after merging this: https://github.com/scrapinghub/dateparser/pull/603 as it would be a good starting point :)

[2020-02-19 09:39] Gallaecio commented on #618
We can discuss them in Github, that way they are easily to find in the future. IRC logs get lost easily :)

[2020-02-19 09:41] #617 closed

[2020-02-19 16:22] #466 closed

[2020-02-19 16:23] #463 closed

[2020-02-19 16:24] #468 closed

[2020-02-19 16:30] Gallaecio commented on #597
If you use dateparser along with a different library that also uses regex, if each library pins a different version, you are screwed.

Instead, we need to define in `setup.py` a range of versions of `regex` that _should_ work with `dateparser`.

[2020-02-20 14:56] lopuhin opened #621 "TypeError: '<=' not supported between instances of 'str' and 'int'"
``dateparser.parse`` crashes when trying to parse some dates, for example:

[code]

This is using dateparser master (2dd4c5962e16de208c6ef7a9a9f9d5efe8754eb7)

[2020-02-21 15:42] noviluni commented on #621
It seems that the dash and the long dash weren't included in the `nowords` variable. I added a PR to fix it. Thanks for raising it, @lopuhin !

[2020-02-22 04:10] Eveneko commented on #46
Hi, I'm interested in this idea. However, I have NLP course this semester. I'm not sure if it is a bit late, But I really want to participate, and I believe I have the ability to start work when I start work in the summer.

[2020-02-22 04:14] Eveneko commented on #457
Hi, I'm interested in this idea. But the requirements and goals of this project on GSoC are a little bit specific. Can I get more specific information? Or does it all depend on what I think and what I want to achieve?

[2020-02-22 08:36] Ricimon commented on #403
It looks like lines 309 to 324 of `parser.py` are what cause this issue:
[code]

Without a RELATIVE_BASE parameter, the day selected for the parsed input time is the current UTC date, before any past or future PREFER_DATES_FROM adjustment is done. This explains why timezones behind UTC will skip a day when UTC time has passed 12AM before the local timezone has.

With a RELATIVE_BASE parameter, the

[2020-02-23 17:55] varunagarwal18 commented on #46
There are many implementations for number parsers on Stack overflow. There is also a library called word2number in Python contributed by someone.

[2020-02-24 11:28] Gallaecio commented on #457
Yes, this is a very specific task that can be part of the http://gsoc2020.scrapinghub.com/ideas#dateparser-performance idea, but the GSoC idea should include additional performance-driven changes, and probably thread-safety, as mentioned in the idea page.

If you want to work on a GSoC proposal for this, feel free to create a separate issue were we can list different performance improvements that

[2020-02-25 10:29] techytushar commented on #612
Hi @Gallaecio ,
cc @kishan3
I reached here through the link mentioned in the GSoC 2020 Ideas page.
I am a final year computer science undergrad student from India. I am looking forward to participating in GSoC this year and I found this project quite interesting.

I have been a former GSoC participant. I have a good experience in Deep Learning and NLP domain, so I believe that I'll be able to make

[2020-02-25 22:55] Gallaecio commented on #46
There are many implementations for English. But the end goal is to support different locales. And in unambiguous cases, without the knowledge of the locale of the input text. That can be hard.

[2020-02-25 23:51] Gallaecio commented on #612
Nice to hear from you!

As for next steps:
- Make sure you read http://gsoc2020.scrapinghub.com/participate carefully
- Have a look at the relevant parts of the code base, try to understand how it works and why it is often not working as expected. You will probably have questions as you do this, and we are here to help you solve them so that you can work on your proposal.

[2020-02-28 14:16] noviluni commented on #213
I needed something similar and I realized that maybe is not a bad idea to add a method to retrieve the `timedelta` instead of a date object.

As `dateparser` needs some time to parse a date, doing `datetime.now()-parse('yesterday')` we loss precision. I just opened a draft PR (https://github.com/scrapinghub/dateparser/pull/623) to illustrate it.

Examples (using the code in the PR):

[code]

Of co

[2020-03-02 03:23] GargiVyas31 commented on #573
Hi, I am Gargi Vyas. I am GSOC 2020 candidate and  would like to work on this bug.

[2020-03-02 06:29] tannercollin commented on #573
That'd be awesome, Gargi. Thanks!

[2020-03-03 17:12] grestonian commented on #618
Hi Gallaecio, 20110101 is interpreted by default as : 2-01-1010-1 (M-D-Y-H) which is also a valid date. Parsing '20110101' the same as '2011-01-01' means changing the default format as YMD, but other inputs can be of the format MDY also. So this is a case of ambiguity. Can you please explain further what exactly is your requirement?

[2020-03-05 22:38] OmarWagih1 opened #624 "Perfomance optimization"
Hello, I'm Omar Wagih, a student from Cairo University and i was interested in the "Performance optimization" task in GSoC.

As mentioned in issue #457 , there are some parts of the library that slows over time, a PR was issued but it still isn't integrated in master, @Gallaecio mentioned that we could create an issue where we can list different performance improvements that could be implemented a

[2020-03-06 10:09] #312 closed

[2020-03-06 10:09] #525 closed

[2020-03-06 10:13] #607 closed

[2020-03-06 10:17] #404 closed

[2020-03-06 10:29] #621 closed

[2020-03-06 13:59] noviluni commented on #404
Hi @DougHaber this should be fixed (or at least totally mitigated) in the last release `0.7.4`.

[2020-03-06 14:03] noviluni commented on #621
Hi @lopuhin the last release includes this fix :tada:

[2020-03-06 14:06] DougHaber commented on #404
Looks great!  Retested, and after 100 cycles, times stay flat.  It is also much faster now.  Thanks for fixing that.

[2020-03-06 14:09] noviluni commented on #312
In the last version `0.7.4` this can be done through the `PARSERS` setting. :tada:

[2020-03-06 14:09] noviluni commented on #525
In the last version `0.7.4` this can be done through the `PARSERS` setting. :tada:

[2020-03-06 14:11] noviluni commented on #563
Hi @raghur @Dimbreath this is fixed in the last version `0.7.4` :tada:

[2020-03-06 14:13] noviluni commented on #607
Hi @jbcooley7 this has been fixed in the last version `0.7.4` :tada:

We will try to start doing more frequent releases.

Cheers!

[2020-03-06 14:13] noviluni commented on #402
Hi @podolskyi this has been fixed in the last version `0.7.4` :tada:

[2020-03-06 14:14] noviluni commented on #548
Hi @bradley-evans  this has been fixed in the last version `0.7.4` :tada:

[2020-03-06 14:19] noviluni commented on #336
Hi @amorgun @charleybeller @kamilnematli  this has been fixed in the last version `0.7.4` :tada:

[2020-03-06 14:32] noviluni commented on #564
Hi @prudentia @Jefffish09

We did some performance improvements in the last released version (`0.7.4`) and now the first case needs less than 1 second and the second case 3 seconds.

I think this result is quite better (and acceptable, as we are parsing 100 invalid dates and when parsing invalid dates `dateparser` needs to try all the possible different options).

Could you test again with the las

[2020-03-06 14:37] lopuhin commented on #621
Great, thank you so much @noviluni 👍

[2020-03-06 14:44] noviluni commented on #457
Hi @Gallaecio the original issue has been fixed in the last `0.7.4` version (PR: https://github.com/scrapinghub/dateparser/pull/625).  I think we should close this issue and keep the GSoC questions regarding the performance in different issues.

Let me know what you think and feel free to open this issue again.

[2020-03-06 14:44] #457 closed

[2020-03-06 14:45] ShantanuDube commented on #46
So what should be the main aim of the project... to solve this issue with respect to natural language processsing in english or in all different locales?

[2020-03-06 17:40] noviluni commented on #589
It seems that this bug was introduced with this PR: https://github.com/scrapinghub/dateparser/pull/558

I will investigate it further and I will try to fix it.

[2020-03-08 16:52] Gs-001 commented on #618
Hey @Gallaecio is this issue still open, was looking forward to some more information on this but didn't see any replies recently.
Just wanted to know that the issue was still valid.

[2020-03-09 11:09] aditya-hari commented on #615
Hello, I would like to try and solve this issue. Which files should I be looking at to see what might be going wrong?

[2020-03-09 12:17] Gallaecio commented on #624
I got these suggestions from @noviluni :

* As we implemented the PARSERS settings (PR: #603) now we can easily change the order of the parsers. It could be a good idea to locate those faster parsers first. To do it we should measure which parsers need more time and which need less time and order them according to this (on the other hand, if a parser is really uncommon maybe it shouldn't be in the

[2020-03-10 04:29] duongkstn commented on #581
"3 tuần sau", "tuần tới" are also wrong

[2020-03-10 09:11] noviluni commented on #46
Hi @ShantanuDube @varunagarwal18 @Eveneko !

The idea is to support every supported language, however, if you check the code, most of the things are first translated to English and then processed to get the date. So this could be done as "X language" --> "English" --> "numbers". The first natural step would be "English" --> "numbers", but we also need to develop a "framework" to easily add support

[2020-03-10 15:30] aditya-hari commented on #615
@Gallaecio

Okay so this issue is because of incorrect regex patterns. I will be able to solve this soon.

[2020-03-10 20:57] grestonian commented on #615
@craigmaloney @Gallaecio I've applied this fix to parse double digits for timezones. Please let me know if you find any anomalies.

[2020-03-11 14:25] aditya-hari commented on #573
@Gallaecio, @noviluni
I have looked through the code and I think I understand the gist of it at this point. What would the recommended way to tackle this? Would appreciate some suggestions to get started. A separate function in FreshnessDateDataParser maybe?

[2020-03-11 16:16] Octopus67 commented on #580
I would love to work on this issue

[2020-03-12 11:41] Gallaecio commented on #618
@grestonian I suspect that MDY is a wider-used format than MDYH. When facing a case of ambiguity, I think Datepaser should behave in the most intuitive way by default, and in this case I believe MDY is that.

[2020-03-12 16:08] iago-lito commented on #618
@Gallaecio This true for English, but for not all languages. In a French context for instance (but I suspect we're not alone), the widly-used, idiomatic, default format would be DMY. Besides, I think the computer-science standard default is YMD because it sorts from itself alphanumerically.

Maybe MDY can be picked if the contextual language can be reasonably infered to be English, DMY can be pick

[2020-03-12 18:12] grestonian opened #633 "dateparser.parse returns None for any datetime using military time format"
While parsing "Jul 20, 2019, 1313", the dateparser returns None. Date parser should be able to parse military time format also.
[code]
i.e. expected output should be
`Jul 20, 2019, 1313` -> `Jul 20, 2019 13:13:00`

I believe this can be a further enhancement in parsing the date string.

[2020-03-12 18:36] Gallaecio commented on #573
@aditya-hari Go ahead and propose an approach in a pull request. It’s easier to discuss over code :slightly_smiling_face:

[2020-03-12 18:58] Gallaecio commented on #618
I’m not discussing what the default date order that Dateparser should be. What I’m discussing is what I think should be the default parsing of `20110101` (or `01012011`) when no setting (e.g. date order) is specified. I think it should be the 1st of January of 2011 in both cases.

Such a change may be much more complex that changing the default date order.

[2020-03-12 20:35] Gs-001 commented on #571
Hey @Gallaecio @klmunday  , I have added a PR to handle this case.
Please have a look and ping me if any changes are required.

[2020-03-13 08:56] iago-lito commented on #618
@Gallaecio I think I'm getting you. Are you meaning that it should be somehow detected in `20110101` and `01012011` that the `2011` part is most likely to mean a year (because it's 4 digits long and it starts with `20-`), and then infer the format (YMD or DMY) based on this hint?

I agree that it is appealing. It is ambiguous for sure but `dateparser` will never be exact.

It brings up the idea th

[2020-03-13 09:23] Gallaecio commented on #618
I have no suggestion regarding the implementation.

Regarding those example input strings, I would expect the default output to be:
- `20202001` → `2020-01-20`
- `01201702` → `1702-01-20`
- `01202020` → `2020-01-20`
- `20202020` → `None`

[2020-03-13 13:33] iago-lito commented on #618
Okay, so one not-too-complicated algorithm would resemble:

**1.** parse `XXXXXXXX` as YMD, YDM, DMY _and_ MDY.
**2.** eliminate the ones with impossible M or D values.
**3.** among the remaining ones, eliminate those whose Y value starts with 0.
**4.** Take a decision depending on remaining possible formats:
| YMD   | YDM   | DMY   | MDY   | decision                  |
| ----- | ----- | ----- | -

[2020-03-13 14:06] prabhatM opened #635 "Not supporting Last Sunday and after 15 days"
Hi.
Wonderful program. But it does not support "Last Sunday", though supports "last  Week".
It also does not support " after 15 days", though it supports "in two weeks".

Please look into it and upgrade.

Regards

Prabhat

[2020-03-14 07:04] aditya-hari commented on #573
@Gallaecio I haven't really come up with anything concrete in code yet, can't open a pull request.

Things like 'next tuesday' aren't identified with any locale, so there has to be some changes made in the locale info to sort that out. I am not entirely sure how to though.

I thought about just changing that to something standard like "in x days/months" but that will obviously only work for Englis

[2020-03-14 09:50] Gallaecio commented on #635
Related to #573

[2020-03-14 10:37] Gallaecio commented on #573
@aditya-hari I suggest you start from `FreshnessDateDataParser.parse`, go through what the code does keeping the target strings in mind (e.g. “Next Tuesday”), and make the required changes as you go. I see for example that `ago` and `in` are hardcoded in some parts, I guess you will need to add `next` there.

You could add a test for “Next Tuesday”, extend `FreshnessDateDataParser.parse` as needed

[2020-03-14 12:15] grestonian commented on #615
@noviluni @Gallaecio there was one test case in the source code:
`'Fri Sep 23 2016 10:34:51 GMT+0800 (CST)'`

What is the expected output for this input case?

[2020-03-15 14:43] grestonian commented on #612
Hi @Gallaecio
I'm a third year Computer Science Undergrad with experience in NLP and Deep learning. I'm a GSOC aspirant, can you please help me know what do you expect from a student applicant like me, and with the proposal too.
I shall be very grateful to you

Thanks in advance :)
PS: where can we connect as I have a few questions related to the code base

[2020-03-15 18:28] aditya-hari commented on #573
@Gallaecio

Sorry it is taking me this long, I have something sort of working, I will hopefully open a PR soon

[2020-03-16 03:52] darkdebo commented on #516
Can I work on it....

[2020-03-16 03:53] darkdebo commented on #502
I want to work on it , please assign it to me.

[2020-03-16 16:36] Gallaecio commented on #615
If you mean because of the `(CST)` at the end, my guess is that the string should be interpreted the same as it would without it.

[2020-03-16 18:30] Gallaecio commented on #612
I think a student proposal should:
- Show that you understand the problem, from the point of view of a Dateparser user.
- Show that you have a general idea of how the parts of the code base that you would be changing and extending work at the moment.
- Describe the high-level changes that you plan to apply.
- Propose a work plan on a week-by-week basis.
- Include stretch goals, in case the project

[2020-03-16 18:30] Gallaecio commented on #612
As for questions related to the code base, feel free to ask them here.

[2020-03-16 18:34] Gallaecio commented on #573
Not a problem. It’s OK to just fix “Next <day of the week>” for now, we can improve things later with additional, separate changes.

[2020-03-16 18:39] Gallaecio commented on #516
@darkdebo There’s already a pull request for it: https://github.com/scrapinghub/dateparser/pull/562

[2020-03-16 18:40] Gallaecio commented on #502
@darkdebo Feel free to open a pull request for it.

[2020-03-17 01:18] darkdebo commented on #502
Thank you I will do it

[2020-03-17 13:06] #589 closed

[2020-03-19 07:23] bazingarj opened #636 "Dateparser wrong date parsing for IST timezone"
[code]
It must print  - 2018-02-17 16:15:36.519000+05:30

then i debugged the value i get after parse  in j without timezone

[code]
Why it is +02:00, it must be +05:30

[2020-03-19 08:35] bazingarj commented on #636
Accept PR #637 then close this issue

[2020-03-19 12:28] arnavkapoor commented on #618
I have implemented a possible solution to this issue, #639 which is along the line suggested by @iago-lito. It only changes how dates of the form `XXXXXXXX` is parsed, in case such a date can be successfully parsed as one of these `['%m%d%Y' , '%d%m%Y' , '%Y%m%d' , '%Y%d%m' , '%m%Y%d', '%d%Y%m']` (the order can be a bit contentious, but at this time seems the best to me)
 @Gallaecio could you plea

[2020-03-19 13:20] knowledgecomputer2018 commented on #565
hi
thank you very much .i solve my problem .
god willing

[2020-03-19 16:40] asadurski commented on #636
Hello @bazingarj, it's a duplicate of https://github.com/scrapinghub/dateparser/issues/580 and https://github.com/scrapinghub/dateparser/issues/609. IST resolves to India Standard Time and Israel Standard Time (and even to Irish Standard Time, for the sake of precision).

Do you have any other suggestions for dealing with this issue other than overwriting IST?

[2020-03-20 10:10] jgtimestuff commented on #573
There are a lot of time-related translations available in the unicode-cldr xml or json files that could definitely be used to augment dateparser.py with things that handle all sorts of variations like 'Next Tuesday'. Of course, I'd also like to see something that cover 'Next Weekend' or 'on the weekend'... but it doesn't look like that's been defined as yet.

Anyway, what would it take to pull in

[2020-03-20 10:43] jgtimestuff commented on #573
Okay, just saw this issue from 2 years ago -- cldr_language_data | move data directory | 2 years ago
So, is it just that the cldr_language_data needs updating to include more variations of 'next'?

[2020-03-20 14:21] jgtimestuff commented on #573
In freshness_date_parser, I think we need to add something from calendar to get the right day of the week?

        td = relativedelta(**kwargs)

relativedelta arguments for 'next' + dayofweek needs to add a day, then check the calendar for the next one?

today = datetime.datetime.now() (happens to be Friday)
today + relativedelta.relativedelta(weekday=calendar.FRIDAY)

datetime.datetime(2020, 3,

[2020-03-20 14:45] Gallaecio commented on #573
https://dateparser.readthedocs.io/en/latest/contributing.html#guidelines-for-editing-translation-data might shed some light

[2020-03-21 17:47] Avilad0 opened #640 "Parse 24hr format including single digit time specification"
Fix issue #571
   - adds 24hr format support
   - adds decimal format support i.e. single digit specifications in time

[2020-03-21 17:48] #640 closed

[2020-03-22 11:32] Avilad0 commented on #575
Hi i am a gsoc 2020 aspirant. I am thinking NLTK is the best option, i would try to implement and add a PR.

[2020-03-22 11:37] Avilad0 commented on #612
hey @Gallaecio , I am a gsoc aspirant looking to contribute. I would suggest a NLTK based detection which i will try to implement and launch a PR. Can you tell me which part of the code should the checker be implemented? Can you help me connect with mentors of the project Number Parser?

[2020-03-23 02:03] aditya-hari commented on #46
Why can't we use an existing library, like say https://github.com/jduff/numerizer?

[2020-03-23 02:12] aditya-hari commented on #633
For a string like 'Jul 20, 1530', what would be a more sensible default behavior? Year or time?

[2020-03-23 12:12] dadosch opened #643 "time dot as delimiter"
Currenty, only time with a ":" as delimiter is supported not with a "."

[2020-03-23 12:52] jgtimestuff commented on #573
Thanks, after reading through that link, it seems that is about extending linguistic terms beyond what is provided by the CLDR json files. It looks to me like the json files from CLDR were last imported to dateparser in 2018 and they seem to have a lot less options for relative terms (in English as well as all languages) than what is currently available. This might aid in fixing the 'next weekday'

[2020-03-23 16:09] Gallaecio commented on #575
I wonder how NLTK would impact Dateparser performance, though. Keep in mind that performance is key in a project like Dateparser.

[2020-03-23 16:14] Gallaecio commented on #612
Have a look at `_get_applicable_locales` in the code.

There is no such a project at the moment, the idea is to create such a new project with mentors from Dateparser.

[2020-03-23 16:46] Gallaecio commented on #46
Using an existing library is not out of the question, provided that they can be used to achieve the desired goal. Internationalization may be an issue, so that’s something to account for when looking for existing libraries.

They should also be Python libraries or have Python bindings, Ruby libraries are probably not a good fit :stuck_out_tongue:

[2020-03-23 17:26] Avilad0 commented on #575
@Gallaecio  i am just trying to solve the issue, this might help in parsing if it is further connected with parser. @manycoding  where is the source code of this function?

[2020-03-23 17:28] Gallaecio commented on #643
Could you share links to real life examples? They can be used to reproduce the issue and for test-driven development.

[2020-03-23 17:36] manycoding commented on #575
@Avilad0 Hi, thanks for looking into that. If you paste the function name in github search in the top left corner, you will find the source code.

[2020-03-23 17:40] dadosch commented on #643
I have here the link of THE german dictionary on how to write times in german (in german, obviously), you can see a example with the dot there: https://www.duden.de/sprachwissen/sprachratgeber/Uhrzeitangaben

(The colon can also be replaced by a dot: 8.03)

The original website I first saw this today isn't stable enough to use for test-driven development (a local district's page of corona cases),

[2020-03-23 17:46] Avilad0 commented on #612
So how to connect with mentors of DateParser?

[2020-03-23 17:57] heraclex12 commented on #46
Hi,
I think this https://github.com/facebook/duckling is a library that fits the question. I used to use it and I think that. What do you think about it?

[2020-03-23 18:09] aditya-hari commented on #46
Okay, I could have sworn that I linked a Python library. A ruby library is not ideal for a python library, yes i tend to agree. Sorry!

[2020-03-23 18:12] heraclex12 commented on #46
I think it just need to use Regex to resolve this. You can see this example https://github.com/facebook/duckling/blob/master/Duckling/Numeral/EN/Rules.hs

[2020-03-23 18:20] Gallaecio commented on #643
[code]

[2020-03-23 18:23] Gallaecio commented on #612
You can ping @noviluni and @kishan3 in GitHub comments. That said, there should be no need to address them directly in most cases, just ask away in a GitHub comment in the corresponding issue or pull request, and whoever of us reads your message first will answer.

[2020-03-24 07:01] XtremeGood commented on #46
This problem can be solved by  LSTMs. If we can parse the date in one format from bizarre text then with the help of various parsing libraries we can parse date in any format. But we will need a data like with one column containing all dates (in english or some other language) and another the target date. The language variation shall make the model tough to train but I think it will work if we hav

[2020-03-24 07:19] asadurski commented on #46
@heraclex12 - True, as this is mostly what is done with the dates, but... see answer https://github.com/scrapinghub/dateparser/issues/46#issuecomment-596978995.

[2020-03-24 07:20] asadurski commented on #46
@XtremeGood - I don't think this is a viable solution. I mean, yes, I believe it would generally work, but:
- we would not get the performance we need - and we need it really fast,
- it wouldn't run on any hardware (imagine running this in a Flask app on a tiny server),
- the size of the library with required libraries to run it would be enormous.

So it's a good approach, just for a separate libr

[2020-03-24 07:23] XtremeGood commented on #46
I thing regex is also slow and python too in that way.

[2020-03-24 07:28] XtremeGood commented on #46
What we can do is to use the 1 D convolution neural nets in place of rnns. I have head of this approach. Those are even used for mobile devices.

[2020-03-24 07:55] XtremeGood commented on #46
or use this https://spacy.io/

[2020-03-24 10:08] harsh9200 commented on #612
As mentioned [here](https://github.com/scrapinghub/dateparser/issues/575#issuecomment-544403998), if we use lib like _langdetect_ or any other language detecting lib on date and time, the result can be experimental as the input in _dateparse_ can be a single word(or empty string also) which is not enough to test and get the perfect expected language. So to tackle this we can make our current langu

[2020-03-24 11:09] jgtimestuff opened #644 "Indented def?"
This might be nothing, but I was wondering why the def for apply_time is indented inside the def for parse in freshness_date_parser.py?

      def apply_time(dateobj, timeobj):
            if not isinstance(_time, time):
                return dateobj

            return dateobj.replace(
                hour=timeobj.hour, minute=timeobj.minute,
                second=timeobj.second, microsecond=ti

[2020-03-24 11:16] Gallaecio commented on #644
https://realpython.com/inner-functions-what-are-they-good-for/

[2020-03-24 11:19] jgtimestuff commented on #644
Thanks.

[2020-03-24 11:19] #644 closed

[2020-03-24 12:56] gogaurav opened #645 "Text "are" returning a datetime object"
from dateparser.search import search_dates

search_dates("are")
[('are', datetime.datetime(2020, 3, 22, 0, 0))]

dateparser.__version__
'0.7.4'

[2020-03-24 14:19] heraclex12 commented on #645
It is a correct anwser.
When I try to debug,  I see "are" word is mapping "sunday" in "saq" language (I don't know this language).
So It's not a bug.

[2020-03-24 17:15] gogaurav commented on #645
Yeah. not a bug. I didn't observe that we can pass the language also as an argument. When I am passing English, nothing returns.

[2020-03-24 17:15] #645 closed

[2020-03-24 20:28] harsh9200 commented on #612
I'm very interested in working on this issue as a GSoC project. But I am not able to build my proposal.
I am thinking to use langdetect lib for language detection and will refactor and improve the current language detection implementation. I am unable to build the timeline and to break the project into multiple smaller goals.
@Gallaecio Help?

[2020-03-25 21:23] harsh9200 commented on #612
I'm very interested in working on this issue as a GSoC project. I have prepared a draft of my application on Google Docs:
https://docs.google.com/document/d/1jIsIKbxHxe05oryFA1JUGYS6pqVmDme2adcpBCx04CY/edit?usp=sharing

I'd be very happy about feedback, especially about the scope of the project, task 5 and the timeline.

[2020-03-26 12:26] Gallaecio opened #648 "Timezones are not taken into account for preferred day of the month or month"
When the preferred day of the month is set to today through preferences, or the month to the current month (#646), [the timezone is never taken into account](https://github.com/scrapinghub/dateparser/pull/646#discussion_r398529579).

[2020-03-26 13:21] Gallaecio commented on #648
Duplicates #460

[2020-03-26 13:21] #648 closed

[2020-03-26 13:21] Gallaecio commented on #460
[Comment on the offending code](https://github.com/scrapinghub/dateparser/pull/646#discussion_r398529579).

[2020-03-26 18:07] dadosch opened #649 "german language: multiple issues"
words are not reconised as numbers ("two weeks ago" is recognized, but not "vor zwei Wochen", the german equivalent, but "for 2 Wochen" is)

**"xx ago"**:
vor…
-  einer [1] Woche,Stunde // einem Tag,Monat,Jahr
- zwei [2], drei [3], vier[4], fünf[5], sechs[6], sieben[7], acht [8], neun[9], zehn[10] Wochen,Stunden,Tagen,Monaten,Jahren

**"day after tomorrow"**:
übermorgen

[2020-03-26 20:46] Gallaecio commented on #612
Early feedback:
- What improvements do you have in mind for the existing implementation prior to the use of langdetect?
- language-detection, the Java project that is the basis of langdetect, and that is needed to build files to support additional languages, hasn’t been updated for 6 years; isn’t that a concern?
- Why did you choose langdetect over alternatives? (https://stackoverflow.com/a/471068

[2020-03-27 13:31] harsh9200 commented on #612
Fixing Bugs like #469, #360,  #391

And mainly the following bug:

**English** :
[code]

**whereas German** :
[code]

[2020-03-27 13:55] grestonian commented on #612
Hi @Gallaecio , I've shared my proposal's link on the GSOC website. Is it adequate or I need to share it here also? and also what should be the 'python software foundation proposal tag' as dateparser isn't available there.

[2020-03-27 17:58] harsh9200 commented on #612
Currently, dateparser's ability to detect the language and to translate the language is very limited.

- Language detection in dateparser is done by checking the frequency of the `date_string` in every language and giving the best_language out of all of them with the maximum frequency.

- Language translation in dateparser is done to convert every language into English. This is achieved by compari

[2020-03-27 20:34] vlyalcin commented on #568
This issue does not occur anymore. It should be closed I think.

[2020-03-28 17:29] Gallaecio commented on #612
That is enough, we try and monitor the proposals submitted to the Google platform. But it is also OK to share a link to a proposal in the corresponding GitHub issue and mentioning the corresponding GSoC maintainers (if the proposal is based on one of the [suggested ideas](http://gsoc2020.scrapinghub.com/ideas)) for visibility.

Don’t worry about that, we should be able to find it :slightly_smiling

[2020-03-28 17:43] Gallaecio commented on #612
@harsh9200 Your reasoning seems sound to me. So I think it is OK to go with what you had in mind, using langdetect.

One thing you might want to consider, though, is to first refactor the current implementation of Dateparser to make it possible for users to implement their own language detection and enable it through a Dateparser setting. If you do that, you could make the current implementation t

[2020-03-28 18:08] grestonian commented on #612
@Gallaecio , as @harsh9200 mentioned top 3 language detection libraries, they all have their pros and cons, and in terms of efficiency(as mentioned by @harsh9200 ), langdetect is better option.
Whereas, if we see from our project point of view, my idea is that our vocabulary requirement is limited, in fact much less as compared to the need to use external language detection libraries. Moreover, it

[2020-03-28 18:11] harsh9200 commented on #612
Sounds interesting can you please elaborate more

-  The current frequency-based implementation goes to the default language setting whereas libraries like langdetect, polyglot can be applied using settings. Correct?
- What will we receive from users end of their own implementation? A function?
- Passing different library functions/implementation to another library does not affect the performance?

[2020-03-28 18:23] Gallaecio commented on #612
That would be my approach, to keep things backward-compatible. If the langdetect-based engine proves significantly superior and not too slow, we could later switch to it as the default language detection engine, and even deprecate the old engine if we no longer see a use for it.

Or a class implementing a certain interface. Or an instance of such a class. Or the import path of such an object or cl

[2020-03-28 18:31] Gallaecio commented on #612
@grestonian I think both approaches make for a valid proposal. Depending on the time deemed necessary for each, a proposal may even include both of them. It’s up to you to evaluate the pros and cons, and propose the approach that you believe would make the most sense.

[2020-03-28 19:04] Gallaecio commented on #612
That said, I would encourage you to explain in your proposals why you chose one approach instead of the other, so that we understand your reasoning, similar to how @harsh9200 explained above why he opted for `langdetect` instead of a different library.

[2020-03-28 19:06] harsh9200 commented on #612
@Gallaecio Thanks for your suggestion.

I am thinking the following are the major tasks/Sub-goals in my proposal

1. Refactor Current implementation and add the language setting option.
2. Implement an interface for langdetect wrapper.
3. Add feature in the interface for adding user based language detection wrapper
4. Multiple languages support and fix issues like #567 for default and langdetect i

[2020-03-28 19:08] Gallaecio commented on #612
Sounds good to me :slightly_smiling_face:

[2020-03-28 19:20] harsh9200 commented on #612
Some Queries -

1. langdetect supports only 55 languages whereas dateparser supports over 200 languages plus locales. I can extend the dateparser dataset to solve this problem?
2. Can I extend this implementation to include in `dateparser.parse()` ??

[2020-03-28 19:42] Gallaecio commented on #612
1. I think it makes sense to extend it to support the languages that our current language detection system supports.
2. I think that would be great.

[2020-03-28 19:45] harsh9200 commented on #612
Thanks, a lot for all your suggestions and valuable feedback @Gallaecio.

I will make changes in my [PR](https://docs.google.com/document/d/1jIsIKbxHxe05oryFA1JUGYS6pqVmDme2adcpBCx04CY/edit#) asap.

Thanks again :smiley:

[2020-03-29 00:54] arnavkapoor opened #651 "Handling ordinal numbers in dates."
I believe during the parsing of strings like '3rd month' , '1st day' etc. The ordinal number 3rd is dropped and the string is treated as '3 month' which defaults to parsing a date 3 months ago as opposed to the 3rd month of the year (March).

`dateparser.parse("3rd month")`
` >> datetime.datetime(2019, 12, 29, 6, 19, 7, 671087) #  returns date which was 3 months ago `

[2020-03-29 07:47] XtremeGood commented on #643
Is this expected behaviour or a bug?
![image](https://user-images.githubusercontent.com/40588378/77843943-945c7180-71bf-11ea-805e-161a52de6ac7.png)

[2020-03-29 09:28] grestonian commented on #612
So, as I mentioned earlier

And also about lang-detect, it supports only 55 languages, also the dataset used is not verified and :

My approach is quite simple. If we look into other NLP applications, say text summarization, a very basic technique used there is to find the sentences that highly define the meaning of whole text, rank the sentences according to their meaning importance and extract t

[2020-03-29 12:09] Avilad0 opened #652 "GSOC 2020 - Number parser doubts"

[2020-03-29 12:12] Avilad0 commented on #652
hello @noviluni  @kishan3 , I am still confused with what are all expectations out of the number parser project?

[2020-03-29 18:03] Gallaecio commented on #643
@XtremeGood Please, do not use screenshots for things that can be represented as text.

Also, I’m not sure that the issue depicted by your screenshot is exactly the same as the one described in this issue, so a new ticket may be better assuming there is not already a different, matching issue open.

[2020-03-29 18:10] XtremeGood opened #653 "Is this expected behaviour or a bug?"
Is this expected behaviour or a bug?
![image](https://user-images.githubusercontent.com/40588378/77843943-945c7180-71bf-11ea-805e-161a52de6ac7.png)

_Originally posted by @XtremeGood in https://github.com/scrapinghub/dateparser/issues/643#issuecomment-605599249_

[2020-03-29 18:10] XtremeGood commented on #653
Let it be image this time, I ll be careful to avoid images from now onwards.

[2020-03-30 02:14] noviluni commented on #653
Hi @XtremeGood

This is the expected behavior. `dateparser.parse` expects to receive a date string, not a text containing other (irrelevant) info. To find dates in longer texts you can use `dateparser.search_dates`.

[code]

Note that I think that `date_formats` is not supported by `search_dates`.

I close this issue as is a question and not a bug nor a new feature request. Feel free to re-open it

[2020-03-30 02:14] #653 closed

[2020-03-30 03:45] XtremeGood commented on #653
ok thanks for the info.

[2020-03-30 03:59] noviluni commented on #652
Hi @Avilad0

I think that all you need to know is here: http://gsoc2020.scrapinghub.com/ideas#number-parser  but, I will try to explain it better:

As you know, dateparser is used to parse localized dates. However, in these moments it doesn't support numbers written in natural language (examples: "Third of May" or "December twenty-eight"). What we want to do do is to be able to parse those numbers

[2020-03-30 09:13] Avilad0 commented on #652
@noviluni, Thank you for the information.
Does only natural language have to support multiple languages or even the numbers should be in multiple languages when converted?

[2020-03-30 11:42] harsh9200 commented on #612
Language detection in dateparser is used in `search_dates()` function only and as the name suggests the function `search_dates()` is used to search dates in a long paragraph rather than parsing strictly dates only. For strictly parsing dates `parse()` function is used with correct date formats.

You can refer [This Comment](https://github.com/scrapinghub/dateparser/issues/653#issuecomment-60574587

[2020-03-30 18:03] grestonian commented on #612
@harsh9200 I was trying to say why using langdetect isn't a good option.

Also, the whole point is to implement language detection. At the end, what is expected is for dateparser to detect multiple lanugages, and currently, `search_dates()` it's not doing it correctly.
One of reason being that we are checking the characters, not words in our code base[ `character_check()`] and also, the frequency

[2020-03-30 18:09] Gallaecio commented on #652
I think converting natural language only to Arabic numbers should be fine. Being able to support alternative number systems could be cool, but I’m not sure if Dateparser (and price-parser) support non-arabic numbers at the moment.

[2020-03-30 20:21] YuriYumeYuu commented on #612
Hi
Do you also consider people/proposals without contribution before the deadline?

[2020-03-30 20:44] Avilad0 commented on #652
Thank you @Gallaecio ..
can you tell me about how many different languages the organization is expecting to include in the Number Parser Project ?

[2020-03-30 21:30] ShantanuDube commented on #652
same query

[2020-03-30 21:32] Gallaecio commented on #612
I assume you mean that there would be a contribution soon after the deadline, since a contribution is a requirement.

The timing would be really tight. As soon as the proposals are closed, we will start looking into them, and looking more closely into student contributions.

Contributions do not need to be accepted or merged, they are about seeing how students work in the open, how they code, how

[2020-03-30 21:38] Gallaecio commented on #652
The main goal would be to support internationalization; to design the implementation in a way that allows for people interesting in extending support to more languages to implement it, hopefully with only data files and no code changes, or with a defined and clear way to implement any required code changes.

As long as internationalization is in place, the number of supported languages would not b

[2020-03-30 21:50] YuriYumeYuu commented on #612
Thanks for that quick response, seems like i missed that.

[2020-03-30 22:36] Avilad0 commented on #652
Thanks 👍 ..
@Gallaecio  @noviluni  @kishan3
I know it's pretty late but I have submitted my draft for review. It would be of immense help if any mentors can give some feedback and i make any necessary changes.
Also I have made a very small contribution which is not merged so will it affect my proposal if the contribution is very small?

[2020-03-31 06:34] kishan3 commented on #652
@Avilad0 Can you please share the link here?

[2020-03-31 09:18] Avilad0 commented on #652
https://docs.google.com/document/d/1grgfGE2FV7GABE57fq6TqLI8Y8_xPymSS-lCvae7Hb4/edit?usp=sharing

[2020-04-06 13:30] jgtimestuff commented on #573
Good morning all, I've reverted my language data back to the one that works for translations - and when testing it realized that translating 'Tuesday' on a given Monday seems to be providing last Tuesday as opposed to the one in the current week that we would expect by normal conversational context - ie. "I have an appointment on Tuesday" should give me tomorrow's date, not last Tuesday's:

{'date

[2020-04-06 17:59] jgtimestuff commented on #573
With 'next' in the en.py script and the following code in freshness_date_parser.py,
the results are what I would expect for English. The Russian example works for regular weekdays,
but will still require changes from the CLDR import PR for next (and I suppose last) variants.
I also think there's got to be a more elegant solution than the -dat -newday.weekday() I forced in here
to keep the current

[2020-04-07 12:42] noviluni opened #655 ""empty" expressions parsed as dates"
yielded from this issue: https://github.com/scrapinghub/dateparser/issues/568#issuecomment-533514990 by @lopuhin

[code]

We should investigate why these strings are parsed as valid dates and fix them to return `None` (if they are not valid).

[2020-04-07 12:44] noviluni commented on #568
Hi @lopuhin . As the original tickets was fixed by @rennerocha , I decided to create a new ticket: https://github.com/scrapinghub/dateparser/issues/655 containing your second comment avoiding confusion. :)

[2020-04-07 12:44] #568 closed

[2020-04-07 15:37] harsh9200 commented on #655
The given inputs are not empty.

They are translated to **1** as _of_ is a stop_word and hence removed whereas _an/a_ is simplified to **1**.

[code]
The simplification code is present in `data/date_translation_data/en.py`
[code]

[2020-04-07 17:42] lopuhin commented on #568
Thank you @noviluni

[2020-04-09 17:19] Gallaecio commented on #573
So we might want to extend that subset as needed by changing the download script, and re-running.

[2020-04-13 06:45] FahriBilici opened #656 "How can i add custom keys for language detection"
I want to add my custom keys and dates. how can i add ?

[2020-04-13 06:51] noviluni commented on #656
Hi @FahriBilici! Could you give us an example?

[2020-04-13 07:31] FahriBilici commented on #656
@noviluni like keys in the data/date_translation_data/tr.py . in relative-type key i will add religious holidays. for example i will add Eid al-Fitr and i will add ramadan as value than if i send ramadan to parser then it will return spesific date.

[2020-04-15 12:52] Gallaecio commented on #656
https://dateparser.readthedocs.io/en/latest/contributing.html#guidelines-for-editing-translation-data would be a good starting point on how to extend data. I’m not sure if the files already support this type of change, though; if not, we could work on adding it.

[2020-04-15 12:54] FahriBilici commented on #656
thanks @Gallaecio

[2020-04-23 17:57] mprzydatek commented on #441
Is this going to get fixed?

[2020-04-24 11:16] #564 closed

[2020-04-26 12:54] JanaPitanga commented on #656
I have the same question, I would like to add relative dates for the French language. Were you able to add the dates you wanted @FahriBilici ? Or we really need a pull request @Gallaecio ?

Thanks!!! :)

[2020-04-27 18:59] Gallaecio commented on #656
Feel free to create a pull request following the instructions at https://dateparser.readthedocs.io/en/latest/contributing.html#guidelines-for-editing-translation-data

[2020-04-28 16:06] ottumm opened #658 "Portuguese month/day ordering bug"
There is a bug with Portuguese dates where dateparser switches the month and day ordering. This regression occurred sometime between v0.6.0 and v0.7.0.

Example text is "segunda 10-02-2015 4:06am", which should parse to "2015-02-10" but currently parses to "2015-10-02".

I've created PR #438 to add a unit test that exposes this regression: https://github.com/scrapinghub/dateparser/pull/438/files#d

[2020-04-29 14:29] #615 closed

[2020-04-30 08:06] pankon commented on #331
Hi, I just created a merge request to fix this

[2020-04-30 08:23] noviluni commented on #496
Hi @lopuhin, I'm trying to reproduce this with the last version (`dateparser==0.7.4`) and I can't (furthermore, it takes less time to finish than older versions). It seems that it was fixed when we added some performance improvements in the last version.

Could you confirm that it's also fixed for you?

Thanks in advance :slightly_smiling_face:

[2020-04-30 08:28] noviluni commented on #439
Hi @pulsar70

The last `dateparser` version (0.7.4) implemented some performance fixes and this seems to work correctly. I tried to parse the content of that website and it needed less than 10 seconds to do it.

I will close this issue but feel free to open it again if your problem persists. :slightly_smiling_face:

[2020-04-30 08:28] #439 closed

[2020-04-30 08:34] noviluni commented on #470
Hi @opensubb009 @flogrammer, this was fixed in the last version. Now it should take less than 1 second to parse that string. On the other side, we implemented a new setting called `parsers` that allows selecting which parsers should be tested (as @flogrammer proposed) without editing the source code.

I will close this issue, feel free to re-open it if your problem persists.

[2020-04-30 08:35] #470 closed

[2020-04-30 08:57] noviluni commented on #383
Hi, thank you all for pointing this up. This issue was fixed (https://github.com/scrapinghub/dateparser/pull/593), and you can use now the last dateparser version (0.7.4).

Thank you for all your comments! :star2:

[2020-04-30 08:57] #383 closed

[2020-04-30 12:59] lopuhin commented on #496
Thanks @noviluni I can confirm that growth is linear now and constant is much smaller:

[code]

Thank you! Closing

[2020-04-30 12:59] #496 closed

[2020-05-01 10:14] #501 closed

[2020-05-01 11:17] noviluni commented on #465
There is a list of supported locales in the README.md: https://github.com/scrapinghub/dateparser#supported-languages-and-locales

The "region" means the second pair of letters, for example:
* en-AU --> region = AU (Australia)
* fr-CH --> region = CH (Switzerland)

It has no sense to list the regions as they are language-specific, but it could be a good idea to improve the documentation around the

[2020-05-01 11:40] #391 closed

[2020-05-01 11:46] noviluni commented on #554
Related to this: https://github.com/scrapinghub/dateparser/issues/307

[2020-05-03 15:55] harsh9200 commented on #658
The current master gives the correct month and day.
[code]
I think this bug is fixed.

Can you please check? @ottumm

[2020-05-04 01:41] epicfaace commented on #549
@rennerocha would you consider making `try_previous_locales` set to `False` by default in a new release (as a breaking change)? It's not clear that dateparser is nondeterministic and caused a quite difficult bug for me to trace, and it would make more sense for it to be deterministic by default (or clearly advertised as nondeterministic in the README).

[2020-05-05 00:55] Jefffish09 commented on #564
@noviluni Thanks!

[2020-05-05 17:29] kkoehncke opened #666 "Dateparser: Memory Leak"
Hi!

I've been working with dateparser in a web service application and recently have been seeing a memory leak where RAM consumption has continually increased as the service processes inbound requests. After doing some digging around, tracemalloc shows the following:

[code]

Looking at the source code, I see these five dictionaries defined in dictionary.py:
[code]

Would there be a way for the c

[2020-05-05 22:51] Gallaecio commented on #666
Assuming you are already using the latest stable version, could you try using the `master` branch of `Dateparser`, see if you can reproduce the issue with it?

[2020-05-06 11:30] #652 closed

[2020-05-06 11:47] noviluni commented on #636
Closing this ticket as duplicated of https://github.com/scrapinghub/dateparser/issues/580

[2020-05-06 11:47] #636 closed

[2020-05-10 00:02] lukech opened #668 "Support parsing of relative future dates with "later" keyword (e.g. "1 year later")"
Currently, the parsing support of relative future date is limited to the "in" keyword, e.g. "in 1 year". It would be nice to add support of the "later" keyword which is frequently used in English to denote future dates, e.g. "1 year later", "5 days later", "2 hours later".

[2020-05-10 02:57] JuniorJPDJ opened #669 "Support intervals/durations"
Hi!
Good work guys, your lib is amazing!
I'm interested in parsing intervals/durations as a duration, not a date.
What do you think about creating separate function with this?
There's lack of parsers like this as far as I see.

I'd like to be able to parse "1d2h3m" like dates but also in another format, which seems to work at least good with this lib, but doing `(datetime.datetime.now() - datepars

[2020-05-10 04:42] noviluni commented on #669
Hi @JuniorJPDJ !

I made a proposal in this other issue: https://github.com/scrapinghub/dateparser/issues/213 (last comment), but I didn't receive any feedback.

Could you check if that fits your necessity (and if you can, checking the PR or adding your ideas)?

Thanks in advance!

[2020-05-10 04:49] JuniorJPDJ commented on #669
@noviluni your proposal is just another workaround ;/
Look, at `freshness_date_parser` we already use something `timedelta`-ish - `relativedelta`.
I tried using `freshness_date_parser` directly but I can't make it work.

[2020-05-10 05:46] JuniorJPDJ opened #670 "Bad handling of non-integer relative dates"
[code]
It should be 2.5h in the future, not 5h.

[2020-05-11 19:00] sandaemc opened #671 "Time does not work if timezone is provided"
Example:

[code]

[2020-05-11 20:38] Gallaecio commented on #671
Indeed:

[code]

[2020-05-12 07:58] sandaemc commented on #671
@Gallaecio ,

Do you think it's fixed in master branch?

I tested this out from the current master branch and it is giving me the correct results.

[code]

[2020-05-12 08:06] sandaemc commented on #671
Ah yes, it is fixed in master. These results are from my `pip install`

[code]
Can you please release a fixed version?

@Gallaecio

[2020-05-12 08:28] noviluni commented on #671
Hi  @sandaemc, I will release a new version as soon as possible and I will keep you informed. :+1:

[2020-05-12 14:40] noviluni commented on #658
Hi @ottumm

I've trying to reproduce it with different versions (even master) and I always get the correct result (and the test you added in the PR passes).

I will close this issue. If your problem is not solved or there is something we missed please, don't hesitate to re-open this ticket.

[2020-05-12 14:40] #658 closed

[2020-05-12 15:26] #671 closed

[2020-05-12 15:34] noviluni commented on #459
This is partially blocked by this: https://github.com/scrapinghub/dateparser/issues/573 because currently, we don't support "next Monday" even in English.

The "midi" part can be implemented by adding something like `(?:12\s+)?midi: '12:00'` in the `fr.yaml` file, but maybe it should check that midi is not preceded by 'après' or 'avant'... :thinking:

[2020-05-12 16:22] ottumm commented on #658
Thanks @noviluni! I agree with the closure.

[2020-05-12 17:12] #354 closed

[2020-05-13 07:19] #395 closed

[2020-05-13 07:19] #649 closed

[2020-05-14 15:09] noviluni commented on #424
Hi @pengyu, the `parse` method returns a `datetime` object (not a str) and you can format the result by using `strftime`.

In your examples:
* `print(parse('2017').strftime('%Y'))`
* `print(parse('2017 Jan').strftime('%Y-%m'))`

Check this to know how to use it: https://strftime.org/

As it doesn't exist a `datetime` object without the `day` or without the `month`, it's not technically possible to

[2020-05-14 19:00] noviluni opened #676 "dateparse can't handle cases where the same word has different meanings"
There are languages where some words have different meanings. This is generating some issues like this: https://github.com/scrapinghub/dateparser/issues/337

I'm creating this issue to track this and try to find a solution.

As far as I have seen, the translation is performed before the date is parsed, so we can't select the valid meaning using the other part as context. Apart from that, those wor

[2020-05-14 20:18] Gelbpunkt opened #677 "When mixing h/m/s, results are absolute even though using "in""
[code]

I feel like those two should be identical. Same result without settings or languages specified.

[2020-05-14 21:01] LeptoFlare opened #678 "Dateparser returning None when using filler words."
[code]

[2020-05-14 21:19] LeptoFlare opened #679 "TypeError: can't compare offset-naive and offset-aware datetimes"
This issue is not isolated inside the function. It permeates outside of the function.

It seems to start occurring after you use search_dates on relative and absolute datetimes at the same time.

Just use search_dates on this string:
[code]

[2020-05-14 21:20] LeptoFlare commented on #679
[code]

[2020-05-14 21:25] noviluni opened #680 "dateparser.parse raises unexpected errors in some edge cases"
I ran the `dateparser.parse` method against all the strings included in the [Big List of Naughty Strings](https://github.com/minimaxir/big-list-of-naughty-strings/blob/master/blns.json) and I found 4 edge cases where `dateparser` raises an error.

**Big number string:**

[code]

**Subscript or superscript numbers:**

[code]

[code]

[code]

I know these are edge cases, but it should be fixed as th

[2020-05-14 21:49] LeptoFlare opened #681 "search_dates is..."
[code]

[2020-05-15 08:32] noviluni commented on #678
This happens because the point (`.`) doesn't work as time delimiter and there is already an issue to track this bug: https://github.com/scrapinghub/dateparser/issues/643

You can fix it by changing the point by a colon:
[code]

As a temporary workaround, you could also use `str.replace('.', ':')` with the date string.

Closed as duplicate of:  https://github.com/scrapinghub/dateparser/issues/643

[2020-05-15 08:32] #678 closed

[2020-05-15 17:31] LeptoFlare commented on #681
I believe I found the issue here, changing `8AM` to `8:00AM` does the trick.

the `:00` should really be optional if am / pm is detected after the number

[2020-05-15 17:33] LeptoFlare commented on #670
another "hours of the day bug it seems"

I'm going to assume doing `2:30h` would work

[2020-05-16 18:46] noviluni opened #683 "Timezones support is deficient"
I think we should rethink how the timezones are applied, as we have more than one case of abbreviations with different meanings.

I could found at least these cases:

* **ACT:**
    * Acre Time: UTC−05
    * ASEAN Common Time (unofficial): UTC+06:30 – UTC+09

* **AMT:**
    * Amazon Time (Brazil): UTC−04
    * Armenia Time: UTC+04

* **AST:**
    * Arabia Standard Time: UTC+03
    * Atlantic Stand

[2020-05-16 18:55] noviluni commented on #580
I just opened an issue to discuss this: https://github.com/scrapinghub/dateparser/issues/683

If you have any feedback, please, don't hesitate to write it there, it will be really appreciated. :raised_hands:

[2020-05-17 07:06] noviluni opened #685 "Bad handling of big numbers (OverflowError)"
There are a lot of situations where using a big number we get an `OverflowError`:

[code]
It happens the same for `week`, `year`, etc.

This case, handled by python3.6 calendar seems better:
[code]

However, I think we should just ignore or return `None` if any of these cases is found.

[2020-05-17 07:10] noviluni commented on #680
After checking this further, I have:
* submitted a patch for the superscript and subscript numbers: https://github.com/scrapinghub/dateparser/pull/684
* created a new ticket for the first example: https://github.com/scrapinghub/dateparser/issues/685

To understand the first case, it's necessary to understand that what is happening is that it is translated to `'2.2250738585072011 hour-308'`.

I thi

[2020-05-17 11:12] holtzhau opened #687 "String crashes parser"
The following string crashes the parser:
[code]

While not something one would try to parse, it crashes search_date functionality as well when encountered:
[code]
I get the following trace:
[code]

[2020-05-17 15:11] noviluni commented on #687
Hi @holtzhau, thank you for raising this.

I created a PR that is fixing another related problem and it's going to fix this: https://github.com/scrapinghub/dateparser/pull/686

[2020-05-17 20:12] Baviaan commented on #683
Thanks for opening this discussion.

You could interpret it based on the language. For the CST example you could interpret based on whether 'en', 'es' or 'zh' has been set?
Or perhaps specifically on the locale settings. E.g. CST is Cuba only if 'es-cu' and BST is British only if 'en-gb' has been set?

That doesn't solve anything if i.e. the locale is set to 'fr-fr', i.e. what should it default to

[2020-05-17 20:33] noviluni commented on #683
I hadn't thought about considering the locale to give a better timezone, and I think it could be a really good idea!

I have to think more about this and how this would affect the current implementation, but it sounds good. Of course, in most cases, this wouldn't help, but in others, it could be really useful.  :muscle:

@Gallaecio any thought on this? :slightly_smiling_face:

[2020-05-18 01:46] eamanu opened #688 "Test raise an unnecessary FutureWarning"
Hello,

This issues was reported originally here [0]. If I'm not wrong
the warning is emit here [1].

The test `test_should_support_a_string_as_date_formats`  wait for a
FutureWarning intenttionally?

IMO this test must have a `self.assertWarns` or if there aren't intentions
to test the Warning emited could be a good option change
`date_formats='%d-%m-%y'` for `date_formats=['%d-%m-%y']`

[0] http

[2020-05-18 10:20] holtzhau opened #689 "Date ambiguities during search_dates"
For the follwoing
[code]
We get the result:
`[('4 February', datetime.datetime(2020, 2, 4, 0, 0)), ('2019 10', datetime.datetime(2019, 10, 4, 0, 0))]`

The last numbers are not dates, but are seen as such. That is okay because "2019 10 4" could make a valid date. But then "4 February 2019" must still be identified correctly.

[2020-05-18 14:22] vanaoff opened #690 "DATE_ORDER is not taken into account in version 0.7.2+"
OS: Linux (tested on Ubuntu and Manjaro)
Python: Python 3.8.2 (default, Apr 27 2020, 15:53:34)
Affected versions: `dateparser>=0.7.2`
Steps to reproduce the problem:
[code]
Expected result: `datetime.datetime(2016, 2, 3, 0, 0)`
Actual result: `datetime.datetime(2016, 3, 2, 0, 0)`

[2020-05-18 18:36] noviluni commented on #690
Hi @vanaoff, thank you for reporting this.

This is not affecting the master branch, so it should be fixed as soon as we release a new version.

[2020-05-18 18:39] noviluni commented on #690
Related to this: https://github.com/scrapinghub/dateparser/issues/589

[2020-05-18 18:39] #690 closed

[2020-05-18 18:40] noviluni commented on #690
@vanaoff I will try to release a new version this month and I will try notify you. Thank you again!

[2020-05-18 18:50] #685 closed

[2020-05-18 18:50] #687 closed

[2020-05-18 19:04] Gallaecio commented on #683
I like the ideas. What about this?

- Switch to new default values based on popularity. Measuring popularity can be hard, though. If in doubt, we can keep whatever the current default is.
- Log a warning when choosing a global default for an ambiguous timezone. The warning can be silenced by providing disambiguation parameters.
- Set locale-specific default values for those locales where the choic

[2020-05-18 19:09] Gallaecio commented on #689
I wonder how `10 4` should be interpreted. Is it the time? Or completely unrelated numbers?

[2020-05-18 21:29] vanaoff commented on #690
Thanks!

[2020-05-19 07:54] noviluni commented on #680
As both (https://github.com/scrapinghub/dateparser/pull/686 and https://github.com/scrapinghub/dateparser/pull/684) were merged we can close this issue :tada:

[2020-05-19 07:54] #680 closed

[2020-05-19 08:23] noviluni opened #691 "Weird behavior when adding a trailing space"
When using this expression I don't get any result:
[code]

However, when adding a trailing space I get a value:
[code]

[2020-05-20 12:35] FahriBilici commented on #656
@Gallaecio i checked and tried guideline and i got many errors . i am trying to fix them but i have question. after i added new keys how dateparser will understand and return to me time?

[2020-05-20 13:46] noviluni commented on #656
Hi @FahriBilici, the script was failing because I fixed some conflicts wrongly, sorry :pray:

[Now is fixed in master](https://github.com/scrapinghub/dateparser/pull/692), so you should be able to run it correctly. However, I will explain you step by step what you have to do:

1) Download this package: `git clone git@github.com:scrapinghub/dateparser.git` (or update it by doing: `git pull`).
2) Cr

[2020-05-20 13:58] noviluni commented on #597
I agree with @Gallaecio and I will close this issue because this was fixed when we merged this: https://github.com/scrapinghub/dateparser/pull/600.

Feel free to reopen the issue if you consider that it's not solved.

[2020-05-20 13:58] #597 closed

[2020-05-20 14:00] noviluni commented on #624
As this is neither a feature request nor a bug I will close this issue. Feel free to reopen it if you need it.

[2020-05-20 14:00] #624 closed

[2020-05-20 14:01] noviluni commented on #533
Hi @skjerns , could you confirm that this is happening with the last version?

[2020-05-20 14:02] noviluni commented on #533
On the other side, the import is a little slower than other libraries because it initializes some parser to be faster when executing it, so I think there isn't too much we can do.

[2020-05-20 14:08] noviluni opened #693 "Leap year not working as expected with `'PREFER_DATES_FROM'"
I tried to execute:

[code]

and it returns None.

[2020-05-20 17:21] skjerns commented on #533
@noviluni it's faster now (280ms), but I've also upgraded my PC, so I can't really tell ;-)

using `python`: 100ms
using `ipython`: 280ms

Maybe you could implement some lazy loading to the parsers? Or are they all needed?

[2020-05-21 09:57] FahriBilici commented on #656
@noviluni i tried today again ant it gives me no module errors. after i fix them by installing modules via pip it gives me this error :
`Traceback (most recent call last):
  File "scripts/write_complete_data.py", line 133, in <module>
    write_complete_data()
  File "scripts/write_complete_data.py", line 98, in write_complete_data
    date_translation_data = _get_complete_date_translation_data(la

[2020-05-25 13:02] KaustavPurkait opened #694 "Option to set base date in case of relative dates?"
Is it currently possible to set a base date when calculating relative dates?

For example, 2 weeks later currently is parsed to 2 weeks from local time, but in case of an article which was written on a specific date, it would make more sense for the result to get parsed into 2 weeks from the given base date.

[2020-05-25 13:26] KaustavPurkait commented on #694
Figured it out. Closing the issue.

[2020-05-25 13:26] #694 closed

[2020-05-25 14:23] KaustavPurkait opened #695 "Search dates failing to work unpredictably"
[code]
fails to return any correct dates and times, while

[code]
returns them correctly. Is there any setting to specify which could help overcome this.

[2020-05-27 18:45] afparsons commented on #651
Perhaps relatedly, spellt out ordinals are not handled properly:

[code]

I've observed this in German too:

[code]

[2020-05-28 16:44] arnavkapoor commented on #651
@afparsons Thanks! Yes, dateparser currently doesn't handle date written in the natural language. I will be working in the upcoming months to implement this feature.

[2020-05-29 01:37] eamanu opened #697 "tox is not in tests/requirements.txt"
Hi everybody,

According to the contributing page [0] I need to run this to test:

[code]
But, tox is not in the test/requirements.txt. So, I cannot run the above
commands directly, because assume that tox is installed.

IMHO tox module must be added into tests/requirements.txt

[0] https://github.com/scrapinghub/dateparser/blob/master/CONTRIBUTING.rst

[2020-05-29 06:15] marcelooyaneder opened #700 "Question: is there a way to know when a date is incomplete."
Is there a way too know when a date is incomplete. e.g "December 2015"

[code]
I need to parse dates wich contains incomplete dates, in a nutshell i need the following to be done

[code]

[2020-06-01 05:28] Gallaecio commented on #697
The documentation is wrong, you should just run `tox` there, and it will perform all the 3 previous steps on its own.

Also, `tox` should not be in any requirements file, and should instead be installed manually. So maybe we should add `pip install tox` to those instructions.

[2020-06-01 06:12] Gallaecio commented on #700
I think this is a duplicate of https://github.com/scrapinghub/dateparser/issues/553

[2020-06-02 15:39] StefanS111 opened #701 "Parser result wrong for weird input string"
I'm currently trying to parse this string: **"23.18.05"**
My expectation would be that results are only valid for a setting like DATE_ORDER': 'YDM' and especially never try to parse the middle number as a year whatsoever.
It actually turns out, that you receive the following return-value with dateparser.parse: `datetime.datetime(2018, 5, 23, 0, 0)`
and this value with :
`{'date_obj': datetime.date

[2020-06-03 05:34] Gallaecio commented on #701
Marking as a bug as I don’t see a way to prevent that number from being parsed as a date (which does not necessarily mean that the isn’t one).

[code]

[2020-06-03 05:35] Gallaecio commented on #701
On an unrelated note, if it’s not a date, what does that number stand for in the source string?

[2020-06-03 13:02] StefanS111 commented on #701
Thank you for the marking. It actually represents the weirdest time-string i've seen around ever yet, being spaced by dots. Don't really know who'd ever get the idea to space his timestamps with dots on receipts... :laughing:

[2020-06-03 23:27] eamanu commented on #697
Hi @Gallaecio, good point. Please consider review the PR: https://github.com/scrapinghub/dateparser/pull/698. I mention on the documentation the installation of tox.

[2020-06-04 11:59] Gallaecio commented on #618
Reopened to handle the scenario also for the default value of `DATE_ORDER`.

[2020-06-09 03:21] kishan3 commented on #693
Hi @noviluni I am getting response in the latest version `0.7.4`

[code]

[2020-06-10 09:41] #688 closed

[2020-06-10 10:09] noviluni commented on #693
hhmmmm... I don't know why I was receiving `None`, but even if it returns something, I think that the result is wrong, as it's interpreting the 29 as a year without any apparent reason.

Look these two examples, especially the second one.

[code]

[code]

I think we should check it carefully.

Related with: https://github.com/scrapinghub/dateparser/issues/520

[2020-06-10 11:40] kishan3 commented on #693
Right, Maybe we can update the issue so it reflects the actual issue. What do you think?

[2020-06-10 20:35] charbz opened #705 "Latest release creates namespace conflict for scripts directory"
it looks like the dateparser pip package creates a namespace conflict for scripts directory.
So any project containing a scripts module in its root directory will no longer be able to use it.

**Example Project Directory:**
- env/
- scripts/
     - foo/
          - bar.py

if you install dateparser `pip install dateparser` and you run your script: `python -m scripts.foo.bar`

**you get error:**
`E

[2020-06-11 07:35] noviluni commented on #705
Hi @charbz, thank you for reporting this, I will try to release a fix as soon as possible.

[2020-06-11 11:03] 9th-unknown opened #706 "Mistake search_dates for ru language"
Hello everyone!

I have an issue with the following example:

[code]

The answer is supposed to be "2 hours from now (later)", but it returns "2 hours before now (earlier)".
The thing is, the sentance is exactly following the structure defined in _dateparser/dateparser/data/date_translation_data/ru.py_ , so I'm confused why the error takes place.
I try to figure out the logic of the parser, and so

[2020-06-12 16:13] #705 closed

[2020-06-12 17:00] noviluni commented on #705
Hi @charbz @seanwendt @CB-GuangyaoXie, we have just released a new version (v0.7.6) fixing this.

Thank you for raising it!

[2020-06-12 17:06] charbz commented on #705
Thanks for the quick fix @noviluni

[2020-06-14 20:25] Gallaecio commented on #701
Looks like `REQUIRE_PARTS`, introduced in 0.7.5, does not make a difference either:

[code]

[2020-06-15 11:17] #666 closed

[2020-06-18 12:02] johntmyers opened #713 "Is there a way to ignore numbers unless they are epochs?"
Currently just about any number will be parsed, is there a way to ignore this? Strict setting seems to have no affect.

Example:

[code]

[2020-06-18 16:35] noviluni opened #714 "Improve the default language used order"
When trying to parse a date if we don't pass any locale, language, or region, `dateparser` tries with different locales until it finds something that works.

The used order is defined here: https://github.com/scrapinghub/dateparser/blob/master/dateparser/data/languages_info.py, and that file is generated when running this script: `dateparser_scripts/order_languages.py`, that uses the most known/sp

[2020-06-18 16:40] noviluni commented on #713
Hi @johntmyers !

What about using the `PARSERS` setting?

Example:
[code]

Let me know if this works for you. :slightly_smiling_face:

[2020-06-19 14:46] johntmyers commented on #713
Yes but unfortunately I lose other matching. I am testing with `["timestamp", "absolute-time", "base-formats"]` but it appears `absolute-time` is the one that matches on numbers, but also gives me parsing for other things I'd still want too.

[2020-06-19 15:53] noviluni commented on #713
Hi @johntmyers!

I spent some time checking this and this is currently a bug.

This:
[code]
shouldn't return anything, but it does.

The reason is that the `absolute-time` parser tries different things but if they don't work, it tries to parse it as a date without spaces. This is not checking the `STRICT_PARSING` setting, so it returns a solution coming from this format: `'%H%M%S'`.

I have just o

[2020-06-19 16:52] johntmyers commented on #713
Glad you found it! Thanks for addressing it so quickly!

[2020-06-19 17:38] mrj1m0thy opened #716 "Usage of 'next' and 'last' with weekdays"
Would love to see the ability to get dates for "next monday", "last monday" and other similar usages.

[2020-06-19 18:08] noviluni commented on #716
Hi @mrj1m0thy!

There is an open PR that tries to implement it but it's not finished: https://github.com/scrapinghub/dateparser/pull/638

I also would love to have it, so I will try to push to add it in the next release.

Cheers!

closed as duplicated of this: https://github.com/scrapinghub/dateparser/issues/573

[2020-06-19 18:08] #716 closed

[2020-06-22 08:43] noviluni opened #717 "New logo for dateparser"
We are planning to release a major version (dateparser 1.0) in September/October.

One of our goals is to release a fresher version of this library, and this new version seems a really good opportunity to incorporate a logo.

I have made a design that I had in mind: "date" written with hand-written style typography, "parser" written with a more "robotic/scientific" typography, and using the color

[2020-06-22 12:16] noviluni commented on #714
Real-world case:

Me and @lopuhin analyzed a project where `dateparser` was used to parse dates coming from different sources in different languages, and I can confirm that the new order would be more efficient.

![image(1)](https://user-images.githubusercontent.com/22377678/85280178-eabc1200-b487-11ea-915d-22eee1f332e0.png)

The improvement for English won't be any and it represents the language

[2020-06-23 15:16] noviluni commented on #717
Created new PR adding a slightly modified version of this logo: https://github.com/scrapinghub/dateparser/pull/719

[2020-06-24 11:24] Gallaecio commented on #656
It looks like you have a file somewhere called `.ipynb_checkp.py`, and the script is not ready to ignore that file.

[2020-06-24 22:24] sheikware commented on #441
There are other concurrency issues when multi-threading and having some invalid datetime strings. This causes

[code]

Expected output (which you can get if you thread lock the call):
[code]

Error output:
[code]

[2020-06-25 19:06] noviluni commented on #549
Hi @epicfaace
It's not a problem to add a breaking change as we are working in a new, major, version. However, I think that this behavior (trying with previous locales) it's really important.

Imagine you are parsing a text that it's in Macedonian.

It will try with 131 different locales until it gets the correct locale and it will add it to the "previous locale list". Now imagine you have a list

[2020-06-25 19:19] noviluni opened #723 "Improve the README"
This library doesn't have a website (apart from the docs), so the README should be treated as a presentation of the library.

I think we could add a fresher vision over this library and focus it over the use cases instead of including parts from the docs.

- [x] Add new logo ~(blocked by https://github.com/scrapinghub/dateparser/pull/719)~
- [x] Installation
- [x] Supported Python versions
- [x] B

[2020-06-25 19:35] noviluni opened #724 "Delete requirements.txt and remove references to Scrapy Cloud"
~~While the requirements in `test/requirements.txt` and `dateparser_scripts/requirements.txt` are generic (no version pinning), the requirements in the `requirements.txt` are pinned. I think we could update them to the last versions and, if it's possible, unpin them.~~

We should delete the `requirements.txt` file and the documentation section that refers to how to deploy the library to the Scrapy

[2020-06-25 19:41] epicfaace commented on #549
@noviluni In my use case, I am using `dateparser` to parse dates from webpages, and I use snapshot tests to compare the parsed output from a given set of URLs. It's really important for me that a date parsing library is deterministic (at least that's what I expected), so it was just a surprise that by default it was not deterministic.

I see your point in that there's a tradeoff between being dete

[2020-06-25 19:45] epicfaace commented on #549
@noviluni I have an idea.

The code example you gave (creating an instance with `DateDataParser`) makes it clearer that calling `get_date_data` may store state -- because you're explicitly creating an instance. Perhaps in this case, it could make sense to set `try_previous_locales` to `True` -- since the user can always create a new instance of `DateDataParser` if they need to do so.

However, if

[2020-06-25 19:49] noviluni opened #725 "Add support for other words ("decade", "fortnight", "century"...)"
There are some words that can be added to the library:

* Decade: 10 years (2 decade --> 20 years, ...)
* Fortnight: 14 days (Example: "a fortnight ago")
* Century: 100 years (Example: "a century ago", "two centuries ago")

It's not necessary to put them all in a unique PR, you can submit just one of them. Just take in mind that it should support "next decade", "last decade", "a decade ago", "in a

[2020-06-25 20:13] noviluni opened #727 "Deprecate Python 2.7"
As part of the next version 1.0.0 we will deprecate Python 2.7. I have just created this ticket to track it.

- [X] Merge as more finished PRs as possible (to avoid future file conflicts)
- [X] Change tox and Travis to test only with Python 3. (ref: https://github.com/scrapinghub/dateparser/pull/744)
- [x] Change the setup file. (ref: https://github.com/scrapinghub/dateparser/pull/755)
- [x] Apply

[2020-06-26 07:04] noviluni commented on #529
Closed by: https://github.com/scrapinghub/dateparser/pull/703

[2020-06-26 07:04] #529 closed

[2020-06-26 07:43] noviluni commented on #700
Just added a PR trying to find a solution for this: https://github.com/scrapinghub/dateparser/pull/729

Please, if you have any feedback let me know.

[2020-06-26 07:43] noviluni commented on #553
Just added a PR trying to find a solution for this: https://github.com/scrapinghub/dateparser/pull/729

Please, if you have any feedback let me know.

[2020-06-26 07:44] noviluni commented on #424
Just added a PR trying to find a solution for this: https://github.com/scrapinghub/dateparser/pull/729

Please, if you have any feedback let me know.

[2020-06-26 10:21] noviluni commented on #33
I reopen this issue as it seems that it was closed by error

[2020-06-26 10:53] noviluni commented on #560
Related to this: https://github.com/scrapinghub/dateparser/pull/729

[2020-06-26 16:59] marcelooyaneder commented on #700
I've actually develop a little solution for that... on my testing is consistent, the code is the following.

[code]

[2020-06-29 08:23] lopuhin commented on #549
+1 to change default to be deterministic, and document how enabling ``try_previous_locales`` can lead to non-determinism and how if affects perfromance. Re having different defaults in ``DateDataParser`` and ``dateparser.parse`` - I'm not sure, one drawback is that different defaults in different places can be surprising, and users which care about performance and do a lot of calls for one source

[2020-06-29 11:16] kishan3 commented on #727
Hi @noviluni Is it possible to list tasks we need to do perform deprecation?
Or we just need to check it file by file?

[2020-06-29 12:14] noviluni commented on #727
Hi @kishan3, we have some pending PRs labeled as `breaking-change` (https://github.com/scrapinghub/dateparser/labels/breaking-change) that I'm waiting to merge after seeing that this last release is stable enough. If we don't see any major issue raised before the 15th of July, we will merge those PRs and after that starting to migrate the library to Python 3 code (deprecating Python 2.7).

My idea

[2020-06-29 13:53] Gallaecio commented on #724
What’s the use case of `requirements.txt`? Maybe we can remove it.

[2020-06-29 13:54] Gallaecio commented on #725
We should see if we can get some of these words from CLDR data.

[2020-06-29 14:56] #717 closed

[2020-06-30 12:21] noviluni commented on #549
Ok, now that I hear your points of view I see it clearly and I think we can proceed with this!

@rennerocha do you have any WIP PR?

[2020-06-30 12:48] kishan3 commented on #724
@Gallaecio It is used here
https://github.com/scrapinghub/dateparser/blob/master/docs/installation.rst#deploying-from-latest-sources

do we still need it?

[2020-06-30 14:05] noviluni commented on #724
Hi @kishan3

* Short answer: No
* Long answer: We need to delete the file but also that part from the documentation as it doesn't have any sense right now. It was first raised here: https://github.com/scrapinghub/dateparser/issues/397#issuecomment-428322785 So if you want you can work on it. :)

[2020-06-30 21:37] bhagyakjain opened #733 "Is there a way to get date_order for unambiguous dates ?"
When dateparser.parse(date_str) is called is there a way / (internal function) / (internal local var) by which date_order can be extracted for dates in which it is clear which number is a month and which is the day ?

[2020-07-01 07:00] noviluni commented on #733
Hi @bhagyakjain could you add an example? I'm not sure if I'm understanding you.

[2020-07-01 07:26] bhagyakjain commented on #733
Basically when I parse a date I want the date which is not ambiguous ex - '23-2001-12' I wand to extract the date_order it follows in this case - 'DYM'.

[2020-07-01 10:52] valmendil opened #734 "Search_Dates Error Report"
The following code crashes:

part = search_dates("Edmonton, AB T5J 2Z2 Sent: November-15-18 4:44 PM")

It gives me the following error:
  File "kv_extraction.py", line 51, in extract
    part = search_dates("Edmonton, AB T5J 2Z2 Sent: November-15-18 4:44 PM")
  File "/usr/local/lib/python3.6/dist-packages/dateparser/search/__init__.py", line 50, in search_dates
    text=text, languages=languages,

[2020-07-01 11:24] Gallaecio commented on #734
Which version of Dateparser are you using? Could you try Dateparser from the `master` branch?

[2020-07-01 11:33] valmendil commented on #734
I tested it for versions 0.7.4 (pip) and 0.7.6 (github master branch).

[2020-07-01 14:34] noviluni commented on #734
Hi @valmendil,

This is a known issue, and I will try to fix it before the next version.

Thank you for comenting

Closing as duplicate of this: https://github.com/scrapinghub/dateparser/issues/679 (and related to this: https://github.com/scrapinghub/dateparser/issues/491)

[2020-07-01 14:34] #734 closed

[2020-07-01 14:35] noviluni commented on #679
Related to: https://github.com/scrapinghub/dateparser/issues/491

[2020-07-01 15:18] noviluni commented on #679
I've been investigating this. It is a weird bug, as the next works:

[code]

But when joining the dates it doesn't work:

[code]

This is because of the `self.now` of the `parser.py`.

I found a workaround: https://github.com/scrapinghub/dateparser/pull/736 but it seems that the core problem is the `self.now`. It's also the causing of some errors related to the multithreading: https://github.com/s

[2020-07-01 15:20] noviluni commented on #491
Added a comment in this related issue: https://github.com/scrapinghub/dateparser/issues/679 linking to a draft PR with a possible workaround.

[2020-07-02 07:05] noviluni commented on #733
The `dateparser.parse()` returns a datetime object, so we can't add "meta data" to it, but what we could do is to add that information to the result of doing:

[code]

As it returns a dictionary containing more information (date_obj, locale, period...) and we could add the applied `date_order`:

[code]

@bhagyakjain  would this help you?

[2020-07-02 07:07] noviluni opened #737 "Improve the `search_dates` section in the docs"
raised from https://github.com/scrapinghub/dateparser/issues/397

[2020-07-02 07:10] noviluni commented on #397
I have just created a ticket to improve the `search_dates` section in the docs: https://github.com/scrapinghub/dateparser/issues/737

As we currently have a list of locales (it is in the README, I think we should move it to the docs, but that's another point) and we have an open ticket regarding the section about Scrapy Cloud in the docs: https://github.com/scrapinghub/dateparser/issues/724, I thi

[2020-07-02 07:10] #397 closed

[2020-07-02 07:13] noviluni commented on #737
Related issue: https://github.com/scrapinghub/dateparser/issues/442

[2020-07-02 07:24] bhagyakjain commented on #733
Yes this would solve my issue. Or I was also fine with extracting it from any internal function. But this seems better.
If I am right this currently is not implemented. If you implement this please update me on this thread itself.
Thanks.

[2020-07-02 08:05] noviluni commented on #655
I think we can close this issue because, as mentioned by @harsh9200 , all of them are interpreted as just "1".

[2020-07-02 08:05] #655 closed

[2020-07-02 08:15] noviluni commented on #691
I think this is because of the Regex. However, I'm not sure if the first example should return a value or if the second shouldn't return it. Better Japanese skills would help here.

BTW, I'm surprised that the "sanitize" function doesn't delete the trailing spaces.

[2020-07-02 11:54] Gallaecio commented on #691
Google says it’s “10 am”. Which, if accurate, would mean that none of the parsings is correct. And the second parsing is worse, as it is returning an incorrect date.

[2020-07-02 15:35] nex2hex commented on #441
not yet, just replace `dateparser.parse()` call with custom function

[code]

[2020-07-02 19:42] bhagyakjain commented on #733
@noviluni Till when can I expect this change in DateDataParser ?

[2020-07-02 20:03] Gallaecio commented on #733
The next version of date parser is going to be the next major one, and will probably take a few months, so probably no sooner than that.

[2020-07-02 20:21] noviluni commented on #733
Hi @bhagyakjain, as @Gallaecio said, we will probably release the next version in September 2020. I expect this to be added to that version.

[2020-07-03 17:35] noviluni commented on #333
I didn't deep to much on this issue, but this error is raised currently when not specifying the `TIMEZONE` setting. This works for me:

[code]

[2020-07-03 17:38] noviluni commented on #339
This was fixed in a previous version of`dateparser` (0.7.4). :slightly_smiling_face:

[2020-07-03 17:38] #339 closed

[2020-07-03 18:20] #571 closed

[2020-07-03 18:55] noviluni commented on #259
As we closed this: https://github.com/scrapinghub/dateparser/issues/655 should we close this issue?

Should we allow to ignore simplifications? does have this any real use case or it's just for this weird requirement?

cc: @Gallaecio

[2020-07-03 19:07] noviluni commented on #314
The original issue seems solved, and it's working for me since `dateparser==0.7.0`. The other issue mentioned ("at noon") is handled in other issues/PRs (like https://github.com/scrapinghub/dateparser/issues/239). So I proceed with closing this issue.

Let me know if it's not solved for you.

[2020-07-03 19:07] #314 closed

[2020-07-03 19:12] noviluni commented on #325
This was fixed in: https://github.com/scrapinghub/dateparser/pull/530

[2020-07-03 19:12] #325 closed

[2020-07-03 19:25] noviluni commented on #373
This is working by default since version `0.7.5`. If somebody needs to parse this as a timestamp it can be done by using the `PARSERS` setting:

[code]

[2020-07-03 19:25] #373 closed

[2020-07-03 19:30] noviluni commented on #378
Yes, you can use the `date_formats` parameter. If your problem is because the day/month distinction, you can also use the `DATE_ORDER` setting.

Closed as solved.

Feel free to reopen this issue if you have any other question/problem.

[2020-07-03 19:30] #378 closed

[2020-07-03 19:36] noviluni commented on #406
This is fixed since `dateparser==0.7.5` :tada:

[2020-07-03 19:36] #406 closed

[2020-07-03 19:42] noviluni commented on #425
It seems that it happens because of the duplicated timezone info.... We should check it better.

[2020-07-03 19:46] noviluni commented on #448
This was fixed when we merged this: https://github.com/scrapinghub/dateparser/pull/605

[2020-07-03 19:46] #448 closed

[2020-07-06 07:33] noviluni commented on #534
Related to: https://github.com/scrapinghub/dateparser/pull/711

[2020-07-06 08:40] lopuhin commented on #259
I think this and #655 are duplicates. Re #655 closure - as I understand it's more of a "won't fix" (fixing it does not look feasible), not that it's an expected behaviour to treat "1" or "a" as a valid date?

[2020-07-06 10:30] #724 closed

[2020-07-06 10:31] #520 closed

[2020-07-06 15:28] nikhil-saoji opened #742 "dateparser has no module named settings"

[2020-07-07 07:53] noviluni commented on #742
Hi @nikhil-saoji, thank you for opening this issue.

Could you give us an example of how you got this?

[2020-07-09 06:43] #697 closed

[2020-07-11 07:42] #422 closed

[2020-07-11 07:42] #643 closed

[2020-07-11 07:42] zegerius commented on #441
@nex2hex I tried using the custom function, but had the same issues as before (`TypeError: unsupported operand type(s) for +: 'NoneType' and 'relativedelta'`). I resorted to storing the records in Redis and processing them serially.

[2020-07-11 18:35] chaoscommencer opened #743 "Bug Parsing Month/Day with %z in format"
Two parter:
1) Parsing a date string with a %z-formatted timezone in it causes the month and day to be reversed:

[code]

%Y-%m-%d %I:%M:%S.%f %p %Z
%Y-%m-%d %I:%M:%S.%f %p %Z (%z)
Input datetime strings:
2012-11-02 04:16:13.000123 PM EST
2012-11-02 04:16:13.000123 PM EST (-05:00)
Output datetime strings:
2012-11-02 04:16:13.000123 PM EST
2012-02-11 04:16:13.000123 PM UTC\-05:00 (-0500)

As can be

[2020-07-12 15:32] noviluni commented on #743
1.
What it's happening is that the first input (`2012-11-02 04:16:13.000123 PM EST`) is correctly detected as English (locale: "en"), and its default order is month-day, while the second input (`2012-11-02 04:16:13.000123 PM EST (-05:00)`) is detected as Gusii (locale: "guz") and its default order is day-month.

I haven't too much time right now, but we will investigate why the second input is not

[2020-07-12 15:33] noviluni commented on #743
In other words: we should investigate why this: `dateparser.parse('2012-11-02 04:16:13.000123 PM EST (-05:00)', locales=['en'])` doesn't work.

[2020-07-13 11:40] Gallaecio commented on #693
Fixed by #738

[2020-07-13 11:40] #693 closed

[2020-07-15 07:09] noviluni commented on #727
Today is 15th, so we can start with the migration :muscle:

I will spend some time merging PRs marked as "breaking change" to avoid too many conflicts when removing Python 2 reminiscents.

[2020-07-15 09:18] noviluni commented on #727
Today is the 15th and no big issues have been raised so far, so we can start deprecating Python 2! :muscle:

I finished merging some PRs with breaking changes that were waiting. Now we can proceed with deleting the Python 2 and PyPI environments from tox and Travis.

[2020-07-15 09:55] #385 closed

[2020-07-16 06:18] noviluni opened #745 "Support for Pypy3?"
I tried to add the Pypy3 env to tox and Travis and the tests were failing because the `regex` package doesn't support Pypy/Pypy3 officially.

Should we add support for Pypy3? should we try to remove the dependency on the `regex` package (I tried in the past and it's not as simple as it seems)?

Feedback welcomed

[2020-07-16 10:01] lopuhin commented on #745
I think pypy build passes in master https://travis-ci.org/github/scrapinghub/dateparser/jobs/708282459 and from regex bugtracker it seems it works on pypy3 (although there may be some issues with complex unicode handling), so to me it seems that removing regex package is not the best option.

[2020-07-17 07:56] noviluni commented on #565
We are removing support for Python 2 and Pypy, so I will close this issue. Thank you all for raising this. In any case, we are discussing if we will add support for Pypy3 in this issue: https://github.com/scrapinghub/dateparser/issues/745. If you are interested, let me know your insights.

[2020-07-17 07:56] #565 closed

[2020-07-17 08:20] noviluni commented on #745
Hi @lopuhin Thanks for your answer

Pypy was passing because when testing we were installing a pinned version of the `regex` package from the `requirements.txt` file, but it didn't work with the last regex version. There was an issue about this but it wasn't investigated so far: https://github.com/scrapinghub/dateparser/issues/565, and after removing the `requirements.txt` file we found the same i

[2020-07-17 10:14] lopuhin commented on #745
Thanks for investigating and clarifying the state of the pypy3 support @noviluni. I think relying on community interest wrt pypy3 support is good here, I don't have any extra info about potential pypy3 users.

Thanks for insight, I was not aware of this.

There is some discussion of making regex optional in https://github.com/scrapinghub/dateparser/issues/446 - at first sight it does not look impo

[2020-07-20 01:38] shambley-3 opened #750 "Dateparser parses NaN to date one month from current date"
dateparser version: 0.7.6

Issue occurred when parsing a column in a pandas dataframe through dateparser.

Blanks in the dataframe which are interpreted as NaN, when cast to a string and parsed through dateparser would return a date one month from today.

Reproduction:

[code]

Example output:
2020-08-20 00:00:00

[2020-07-21 10:38] noviluni commented on #750
Hi @shambley-3

This is happening because "nan" means "August" in Makhuwa-Meetto. You will get better and faster results if you limit the languages or locales used to parse the string. Example:

[code]

You could also filter the `nan` values before passing them to the `dateparser.parse` method.

I will update the README file to recommend passing a language or locale if it's known for better result

[2020-07-22 06:19] shambley-3 commented on #750
@noviluni

Hey Marc,

Thanks for the response. Yes our resolution was to handle the blanks. Was more just curious about the behaviour.
Very interesting, thanks for looking into it.

[2020-07-22 06:19] #750 closed

[2020-07-23 13:16] skyuchukov-bp opened #751 "Split a separate "no-spaces" parser setting off of the current "absolute-time" one"
# Summary

Currently, including the `absolute-time` entry into the `PARSERS` array in [settings](https://github.com/scrapinghub/dateparser/blob/master/docs/usage.rst#settings) actually results in trying to parse the datestring by [two distinct parsers](https://github.com/scrapinghub/dateparser/blob/ed0b7f8bd70533883528faff09ea1c12834e92e8/dateparser/parser.py#L66) under the hood.

This issue propo

[2020-07-23 15:07] noviluni commented on #751
Hi @skyuchukov-bp , thank you for the proposal!

I think that you are right, we should separate those parsers to avoid those situations.

I didn't have time to check the code carefully to see how feasible is this, but when having a moment I will give it a try and I will also check the weird behavior you described in the "Naming ambiguities" section.

Of course, if you want to open a PR in the mean

[2020-07-23 15:56] skyuchukov-bp commented on #751
Thanks for the fast reply @noviluni.

After checking the v1.0.0 milestone you've added, I've actually discovered that the "example use-case" described here is already discussed in another issue: https://github.com/scrapinghub/dateparser/issues/356. I will update the info above with that.

Nevertheless, having the ability to separately use the 2 parses should still have other valid uses-cases and i

[2020-07-25 00:14] seric17 commented on #725
Hi,
If no one else is already doing it, I'll try to add support for "decade".

[2020-07-25 04:32] spantaleev opened #752 "Parsing of "in 1h30m" fails"
`dateparser.parse('in 1h30m')` is currently taken to mean `'at 01:30'`, instead of `'in 1 hour and 30 minutes'`.

Using absolute time when the input starts with `in ..` seems completely wrong.

Initially reported here: https://github.com/anoadragon453/matrix-reminder-bot/issues/38

[2020-07-25 04:34] spantaleev opened #753 "Parsing of fractional hours is not supported"
`dateparser.parse('in 2 hours')` yields a correct result, but parsing `'in 1.5 hours'` is taken to mean `'in 5 hours'`.

Of course, supporting things like `'in 1.2 hours'` would be weird (that's most likely `'in 1 hour and 12 minutes'`), but `'in 1.5 hours'` sounds like a common-enough use-case that people would expect to work.

Initially reported here: https://github.com/anoadragon453/matrix-remi

[2020-07-28 10:57] Gallaecio commented on #752
It works with `'in 1h 30m'`, so it may be easy to implement.

[2020-07-28 20:11] telemmaite opened #756 "Locale to_parserinfo throws error"
Hello this [line](https://github.com/scrapinghub/dateparser/blob/master/dateparser/languages/locale.py#L543)
causes the following error
[code]

Reading the python documentation for python 2 or 3 > https://docs.python.org/3/library/functions.html#type
suggest that the proper signature is like `X = type('X', (object,), dict(a=1))` hence **string**, **tuple**, **dict**.

[code]

[2020-07-29 14:47] Gallaecio commented on #756
Interesting. I would expect a list to work.

[2020-07-30 07:10] climberwoodi commented on #500
This fix would be very important to me. This format is very common in german texts.

[2020-07-30 14:13] noviluni commented on #756
I created a WIP PR (https://github.com/scrapinghub/dateparser/pull/759) that fixes this, but before proceeding with adding tests, could you explain when would you use this function?

Maybe it should be deprecated...?

[2020-07-31 05:50] fralau opened #760 "Please delete -- error"
Please delete

[2020-08-01 21:05] The-Nightwing commented on #612
Hey @Gallaecio , I want to work with this issue(Better Language detection), I'm kind of beginner in all this. So, from where I should start?

[2020-08-03 09:47] seric17 commented on #725
In my pull request #762, I made the assumption that "next decade" and "in a decade" both refer to "in 10 years". Similarly, I assumed that "last decade" and "a decade ago" both refer to "10 years ago". Please let me know if this makes sense and if there is anything else I should do. @noviluni

[2020-08-04 07:18] #760 closed

[2020-08-04 15:27] noviluni commented on #725
Hi @seric17, thank you for submitting this PR, I will check it when having a moment :slightly_smiling_face:

[2020-08-04 15:31] noviluni commented on #612
Hi @The-Nightwing, this is not probably an easy issue, so if you are a kind of beginner I recommend checking other easier issues.

[2020-08-06 15:28] workflowsguy opened #765 "ISO8601 date format is incorrectly recognized when language is 'de'"
[code]

The expected result is
`datetime.datetime(2020, 8, 6, 0, 0)
`

[2020-08-08 21:20] JellyWX opened #766 "Times containing decimals not understood intuitively"
Using decimals as in `0.5 minutes` or `1.5 hours` are not understood 'correctly' (intuitively) by dateparser.

Reproducing:
1. clone repo as of now
2. create fresh venv
3. pip install .
4:
    import dateparser
    dateparser.parse('now') - dateparser.parse('0.5 minutes')

I would expect this to produce 30 seconds but instead it produces 5 minutes (300 seconds). Whilst decimals are not particularl

[2020-08-10 12:14] Gallaecio commented on #766
Duplicate of #753

[2020-08-10 12:14] #766 closed

[2020-08-11 03:17] cfculhane commented on #751
Thanks for this, the STRICT_PARSER=True parsing of "2017" ->  datetime.datetime(2017, 8, 11, 0, 0) is driving me crazy :)

[2020-08-11 09:13] #742 closed

[2020-08-12 10:42] Fabma opened #767 "Search dates fails with french language selector if string contains "-""
Version:
* dateparser==0.7.6

How to reproduce:
[code]

[2020-08-12 12:08] Fabma opened #768 "Search dates fails depending on whitespaces around prefix ":""
Version:
* dateparser==0.76

How to reproduce:
[code]

[2020-08-20 05:29] anoopparampil opened #769 "Even if I used 'STRICT_PARSING' True, it gives wrong results in partial date string"
[code]
I have expected None. I don't want to parse if there is only time in the string
If we add a space in the starting of the string it gives None
`> dateparser.parse(u' 11:50', settings={'REQUIRE_PARTS': ['day', 'month', 'year'],'STRICT_PARSING': True})
`

[2020-08-20 13:45] Gallaecio commented on #769
Interesting how 11:50 is interpreted as day 1 month 1 year 50.

[2020-08-20 15:55] johntmyers commented on #769
Is this related?

https://github.com/scrapinghub/dateparser/issues/713

[2020-08-21 07:09] Gallaecio commented on #769
Yes, they are indeed related. But we could keep both of them open, as in this case we are not talking about a regular number, but an hour interpreted as a date.

[2020-08-21 11:10] ivanprado opened #770 "Wrong prioritization of languages"
I think there is something wrong in dateparser prioritization of languages, as introducing 'en' even in the last position hurts extraction of dates that were extracted properly when English was not there.

[code]
This is right
[code]
This is also right, because the standard in Spain is DD/MM
But now if we add English to the languages list in the last position...
[code]
We got it parsed like in Eng

[2020-08-22 12:05] johntmyers opened #771 "Search date fails with different separator"
Other than the separator, both of which seem pretty common, these two results are significantly different:

[code]

More interesting failure cases, seems like any valid word boundary should trigger the parsing operation:

[code]

[2020-08-24 23:06] thomasleveil opened #772 "parsing `midnight` gives the wrong day depending on the timezone"
when parsing `midnight` from timezone `Europe/Paris` (summer time GMT+2) between midnight and 2am, the date is off by one day.

I've created a branch with new tests as a showcase : https://github.com/thomasleveil/dateparser/tree/midnight_from_timezone

[2020-08-25 14:43] noviluni commented on #770
Hi @ivanprado!

The currently used order is that order defined in `dateparser/dateparser/data/languages_info.py` (FYI, this order is being questioned in this issue (https://github.com/scrapinghub/dateparser/issues/714) and it will probably change).

However, I agree that people using the `languages` parameter could expect it to respect the defined order. So we should probably change this behavior

[2020-08-25 14:54] noviluni commented on #745
We tried some things (https://github.com/scrapinghub/dateparser/pull/746) and it seems that we won't be supporting PyPy 3 because of the incompatibilities with the `regex` package. I don't discard to add it in the future, but based on the current community interest (https://github.com/scrapinghub/dateparser/issues?q=is%3Aissue+pypy) it seems that we can focus on other affairs and more demanded fea

[2020-08-25 14:54] #745 closed

[2020-08-25 15:04] ivanprado commented on #770
Thank you @noviluni, this sounds great :smile: .

Just to give you more context: The idea is that the languages provided to `dateparser` can come from a language detector model run over the page (this is my case). This gives you a list of languages, ordered by probability: the first one is the more probable, then the second one, etc.

So the idea is to give them to `dateparser` as a language hint,

[2020-08-26 19:39] johntmyers opened #773 "Single letters parse to...?"
Hi, I found several FPs when parsing strings. It appears single letters parse somehow?

[code]

[2020-08-29 02:28] AntonioFasano opened #774 "J, K, W, X, Y letters confuse the parser"
When using `search_dates`, the following Italian date is correctly recognised as 10 February 2020, 15:00:

    [('10 Febbraio 2020 15:00', datetime.datetime(2020, 2, 10, 15, 0), 'it')]

However, the following is considered an English date and therefore  parsed incorrectly:

    [('2020 15:00', datetime.datetime(2020, 8, 29, 15, 0), 'en')]

That happens whenever in the string appears one of the  le

[2020-08-30 18:47] noviluni commented on #773
This is not a bug. The `parse()` method expects to receive a date and it tries to do the best to return a date.

* "a" is equivalent to "1" in English, so it's interpreted as "January" (it has been discussed in other issues like this https://github.com/scrapinghub/dateparser/issues/655)
* "b" is an abbreviation for Sunday in Azerbaijani
* "c"  is an abbreviation for Friday in Azerbaijani

If you w

[2020-09-01 09:36] Gallaecio commented on #773
Reopening, as I think we should eventually be able to make it so that “a” on its own is not parsed as 1 in English.

While I understand that “a day” can be interpreted as “1 day” in English, I don’t think “a” on its own, unlike “one”, should be always interpreted as 1.

[2020-09-01 12:12] johntmyers commented on #773
Agreed. "a / an" on their own do not map to an integer in English. They are determiners that when combined with a noun always imply a quantity of 1, but on their own, do not mean 1 let alone map to January by any means.

Specifying language / locale helped with some other issues, too. For example there were fields that are "NA" for non-applicable if a date string was missing, but those were gettin

[2020-09-02 20:14] dshefman1 opened #775 "dateparser.parse('365 days') returns 364 days, while dateparser.parse('1 year') returns 365 days"
dateparser.parse('365 days') returns 364 days, while dateparser.parse('1 year') returns 365 days

[code]
It seems to me that the root cause of the complexity/problem is that when parsing a time delta string, dateparser.parse returns a datetime object, rather than a datetime.timedelta object.

Thank you for the great package. It has helped me tremendously, already.

Operating System: Windows 10

[2020-09-03 06:42] noviluni commented on #775
Hey @dshefman1!  Thank you for the feedback!

`dateparser.parse('365 days')` doesn't returns "364 days", it returns "the datetime for 365 days ago". However, when you are doing: `datetime.now() - dateparser.parse('365 days')`, the first expression ("now") is calculated a fraction of a second before the second expression, so when you substract them, there is a small difference. Let's illustrate it:

[2020-09-04 17:18] tehaef opened #776 "Different parsing results depending on previous calls"
Hello,

i hope this issue has not been reported yet (couldn't find anything). Basically i ran into a problem where previous calls to dateparser.parse seem to influence the result of later ones. For example:

[code]
(For convenice the demonstration is in one session. It happens also when [2] and [3] + [4] are run separately).

As you can see, in the second run month and the day are swapped. The ger

[2020-09-07 07:37] tehaef commented on #776
One addendum:
The behaviour demonstrated above seems to be somewhat random. Occasionally it actually does *not* show up. E.g.:
[code]

[2020-09-07 07:56] noviluni commented on #776
Hi @tehaef!

Thank you for opening this issue. This happens because the found languages are cached by default (to improve the performance), and this makes this function non-deterministic.  However, this has been recently discussed and we will change the default behavior in the next version, so this will be fixed. You can follow the discussion here: https://github.com/scrapinghub/dateparser/issues/

[2020-09-08 11:03] noviluni commented on #723
I started working on this.

My idea is to create a new README.md file (which is better supported by Github) and move the current content or part of the content to the docs. You can see a preview of the version I'm working here: https://github.com/noviluni/dateparser/tree/improve_readme

@Gallaecio any feedback will be welcomed :)

[2020-09-08 14:40] noviluni commented on #723
Added new PR! #779

[2020-09-08 17:55] dshefman1 commented on #775
Hi @noviluni Thank you for the assistance.

Is there an elegant/simple way to use dateparser to create the result in days: `parse_func('365 days') == parse_func('1 year')`

When I use your solution below, with '1 year' I get 366, which is undesirable for my usecase:

[code]

[2020-09-09 07:28] noviluni commented on #775
Hey @dshefman1!

It's returning 366 days because the current year is a **leap year** (February had 29 days), so when you use "1 year" it takes **"1 year ago" that was exactly 366 days ago**. If you run the same the next year you will get 365 days.

You can't do "365 days == 1 year" directly because it depends on the year.

If this is not what you expected you should search for another workaround.

[2020-09-09 21:25] dshefman1 commented on #775
Yes. Both of these solutions worked for me. Thank you.

[2020-09-09 21:25] #775 closed

[2020-09-11 09:27] noviluni opened #780 "Add a "performance" section in the docs"

[2020-09-11 09:29] noviluni commented on #780
It will be better to start this after merging this: https://github.com/scrapinghub/dateparser/pull/779 to avoid conflicts

[2020-09-11 09:53] noviluni commented on #549
Hey @4n4nd, @rennerocha, @epicfaace, @lopuhin!

I opened a new PR for handling this: https://github.com/scrapinghub/dateparser/pull/781 I would really appreciate your feedback.

(Note that it's not possible to reproduce the original error because of this change in the in `dateparser==0.7.4`: https://github.com/scrapinghub/dateparser/pull/625. However, you can find an equivalent issue here: https:/

[2020-09-11 16:16] noviluni opened #785 "Improve the `parsers` API"
Since this was merged: https://github.com/scrapinghub/dateparser/pull/603, the "parsers" API has been improving.

I think that we should define better what's a parser and define the same API for all of them, refactoring the code.

This would allow a clearer code, to ensure that all the rules (settings, etc) are applied in all the parsers, and it would also allow building some new fancy public func

[2020-09-14 21:04] #549 closed

[2020-09-14 21:06] noviluni commented on #776
Closing as per this: https://github.com/scrapinghub/dateparser/pull/781

This won't be happening again in the next version :)

[2020-09-14 21:06] #776 closed

[2020-09-15 10:19] crusaderky commented on #412
Any update on this issue? It seems major to me.

I need to mass parse UK dates, which are DMY (and there's no locale), but I can't if that breaks ISO dates.
People with a date format set in their locale flat out can't read ISO dates without disabling the locale first:
[code]

[2020-09-16 09:36] noviluni commented on #727
After merging my last two PRs, I think I can say that we have successfully migrated the package to Python 3 only. :muscle:

I will proceed by closing this issue.

Thanks @kishan3  and @Gallaecio for your support :)

[2020-09-16 09:36] #727 closed

[2020-09-16 14:04] noviluni commented on #751
Hi @skyuchukov-bp , I added a PR separating the "no_spaces" parser: https://github.com/scrapinghub/dateparser/pull/786

If you have the chance, it would be really nice if you check it.

From now, you could do:

[code]

And it will return `None`.

@cfculhane you could also check if this works for you :)

Thanks in advance!

[2020-09-16 14:07] noviluni commented on #751
Ah @skyuchukov-bp !

And if you have any idea for the naming ambiguities it will be welcomed!

[2020-09-16 14:10] noviluni commented on #356
From my perspective, the `dateparser.parse()` method should do the best to return dates.

I know that `2017` doesn't seem a full date, but it theoretically fits for 2020-01-07.

I added a new PR separating the `no-spaces-time` parser from the `absolute-time` parser: https://github.com/scrapinghub/dateparser/pull/786

It would allow doing:

[code]
(and it wouldn't return anything).

I know this doe

[2020-09-16 19:26] gogaurav opened #787 "Dates not getting recognised or wrongly recognised if there are some numbers in the text"
`search_dates("At 30 September 2018 E'000", languages=['en'])`  **# No Output**

`search_dates("20 30 September 2018", languages=['en'])`  **# WRONG OUTPUT**, though text doesn't make sense but the # output should be 30 September rather than 20 September
Out[34]: [('20 30 September 2018', datetime.datetime(2018, 9, 20, 0, 0))]

[2020-09-17 07:37] skyuchukov-bp commented on #751
Thanks @noviluni! I've glanced over the PR and added some questions/comments.
As far as the naming goes - not sure there's something short enough to describes the parser - probably something like `digits-and-colon-only-parser` (which is still not entirely true, as the parser allows other non-digit symbols, as long as the first one is a colon, but looking at the example above it probably ignores th

[2020-09-17 09:25] noviluni commented on #475
I also think that this library won't be providing this, at least in a short-mid term, so I will close this issue.

If you need to access to the tokens used by `dateparser`, you could do something like this:

[code]
but it's not exactly the same you requested.

[2020-09-17 09:25] #475 closed

[2020-09-17 09:46] noviluni commented on #435
This was fixed in https://github.com/scrapinghub/dateparser/pull/611

So, closing this! :)

[2020-09-17 09:46] #435 closed

[2020-09-17 15:02] mirceachira commented on #770
Hi @noviluni @ivanprado ,

I added a pr for this, please take a look and let me know what you think about this implementation and I will fix and add some tests for it as well if so.

I believe the default should be `False` so that we make use of the list of most common languages for this @noviluni

[2020-09-21 13:13] #713 closed

[2020-09-21 13:13] #751 closed

[2020-09-21 13:16] noviluni commented on #713
Hi @johntmyers, as we divided the old `absolute-time` parser in the `absolute-time` and `no-spaces-time` parsers and we deactivated the second one by default, you will be able to parse this correctly in the next version by using the `STRIC_PARSING=True` setting.

[2020-09-21 13:24] noviluni commented on #769
This can be closed as it's fixed by this: https://github.com/scrapinghub/dateparser/pull/786

In the next version, this won't be returning a complete date. If you use it without settings it will parse the hours, and if you try to parse it with the settings you mentioned (either `REQUIRE_PARTS` or `STRICT_PARSING`) it will return `None`

[code]

[2020-09-21 13:25] #769 closed

[2020-09-21 13:26] noviluni commented on #582
FYI some cases will be fixed in the next version (after merging this: https://github.com/scrapinghub/dateparser/pull/786)

[2020-09-21 14:46] noviluni commented on #356
Hi guys, we finally decided to exclude the `no-spaces-time` parser from the default parsers (PR: https://github.com/scrapinghub/dateparser/pull/786), so it will work as expected in the next version!

[2020-09-21 14:46] #356 closed

[2020-09-22 10:09] noviluni commented on #419
We started using `importlib` here: https://github.com/scrapinghub/dateparser/pull/513/files for Python > 3.3 and then the offending code was removed when we removed the Python2 support, so I will close this issue.

If you think it's not solved feel free to open it again. Thanks!

[2020-09-22 10:10] #419 closed

[2020-09-22 14:29] noviluni commented on #546
It would be really nice to add support for negative timestamps, but we should handle some side effects.

For example, the timestamps for:  `1969-12-31 23:59:59` is `-1` (and in milliseconds is:  `-1000`). Obviously, this would raise a lot of false positives every time we find a negative number. However, we could create a separate, optional, parser called `negative-timestamp` and allow users to act

[2020-09-23 20:31] washeck opened #791 "Not compatible with tzlocal 3.0b1"
`tzlocal 3` switched to from `pytz` to `zoneinfo` from Python 3.9 (or `backports.tzinfo` for older Pythons) and `dateparser` now crashes with

[code]

dateparse should either restrict the required `tzlocal` version to <3 or fix the compatibility `zoneinfo.ZoneInfo` objects.

[2020-09-24 08:55] noviluni commented on #791
Hey @washeck, thank you for raising this up!

I added a PR adding compatibility with both versions. #792

[2020-09-25 12:26] noviluni opened #796 "Improve `settings`"
There are some bugs related to the `settings` that are hard to debug and some `settings` that aren't documented, so I think we should address this.

This is my plan:
- [ ] Validate settings and raise an error if they are not valid (breaking change)
- [ ] Possibly remove some settings? (breaking change)
- [ ] Document missed settings and improve others.
- [ ] Check that all the settings are applyin

[2020-09-25 12:42] noviluni opened #798 "We can't get a list of the existing parsers (only the `default_parsers`)"
I need a list of the existing parsers for this: https://github.com/scrapinghub/dateparser/pull/797

[2020-09-25 12:42] noviluni commented on #798
It could be probably fixed by this: https://github.com/scrapinghub/dateparser/pull/790/files

[2020-09-28 08:42] noviluni commented on #723
As the PR #779 has been merged I will close this issue.

The missing sections will be omitted from the README as they are in the docs (and the `search_dates` has its own ticket: https://github.com/scrapinghub/dateparser/issues/737).

[2020-09-28 08:42] #723 closed

[2020-09-29 09:15] monatis opened #802 "Feature request: add PREFER_TIME_OF_DAY in settings"
Hi,
Thank you for this great project --we find it quite useful for our conversational AI projects.
Let me explain the feature I'm suggesting: In current / default behavior, when time is missing it is interpreted as the current time of day. A flag in `settings` called `PREFER_TIME_OF_DAY` might be useful just like `PREFER_DAY_OF_MONTH`. For example, a date string `tomorrow` is parsed as 24 hours fr

[2020-09-29 09:54] noviluni commented on #802
Hi @monatis !

Thank you for your comment. I'm going to think about it and return to you.

For then meanwhile, you can use something like:

[code]

[2020-09-29 10:50] monatis commented on #802
Hi @noviluni, thank you for the tip! I'll think through it --it might be the solution when applied with some extra conditionals to detect if a time expression is missing.

[2020-09-30 12:58] mirceachira commented on #714
I think the following is a working list from https://w3techs.com/technologies/overview/content_language

Some languages, like Arabic and Chinese have some slight variations that I'm not sure should be included. I found a full list of languages using similar locales here: https://www.localeplanet.com/icu/iso639.html

Should we consider only one locale per language and variations or should all be ad

[2020-09-30 20:26] Gallaecio commented on #802
That should be easy once https://github.com/scrapinghub/dateparser/pull/778 is implemented.

[2020-10-02 15:48] mnikolop commented on #796
I have been trying to use the settings with this
` from dateparser.settings import default_parsers`
`parsers = [parser for parser in default_parsers if parser != 'relative-time']`
`parse('today', settings={'PARSERS': parsers})`

and it throws with `ModuleNotFoundError: No module named 'dateparser.settings'`.
Is there something I am missing? I have installed dateparser with pip as admin and have ac

[2020-10-05 07:17] noviluni commented on #796
Hi @mnikolop , there is an error in the docs that will be fixed in the next version. You can import `default_parsers` from `dateparser_data.settings`:

[code]

[2020-10-05 15:52] ArthurKantor opened #804 "DATE_ORDER not always honored."
Thanks for an excellent library!

Steps to reproduce:
[code]

My understanding is that with `settings={'DATE_ORDER': 'DMY','PREFER_LANGUAGE_DATE_ORDER':False}`, the parser should return `None` if it cannot parse with the specified DATE_ORDER.

The reason I need the parser to honor the `DATE_ORDER` (or fail the parse otherwise) is I have documents where the parse format is unknown, but it is known

[2020-10-05 18:07] Gallaecio commented on #804
Could you also check with `master`? The issue probably remains, but @noviluni has made lots of changes everywhere, so there’s a chance it has been fixed.

[2020-10-05 18:38] ArthurKantor commented on #804
Still happens with master as of now.

[2020-10-06 09:11] noviluni commented on #804
Hi @ArthurKantor  Thank you for raising this.

First of all, I would like to mention that `PREFER_LANGUAGE_DATE_ORDER` it's not doing anything, as it's wrong, it should be `PREFER_LOCALE_DATE_ORDER`. There is an error in the documentation that will be fixed once we merge this: https://github.com/scrapinghub/dateparser/pull/722/files. The new version will be released in a few days, and those wrong

[2020-10-08 21:13] onlynone opened #806 "RETURN_TIME_AS_PERIOD doesn't always work"
For example I'd expect the following to have a period of time, but it's day:

[code]

Whereas the following has a period of time as expected:

[code]

[2020-10-10 01:38] jhawgs commented on #679
I am working on a project that utilizes this search functionality, and I get the same error. Do you know whether there is a fix right around the corner? Otherwise, I’m happy to work on one. I just don’t want to submit an unnecessary pull if there’s gonna be a fix soon.

[2020-10-10 17:31] wesinator opened #808 "Parsing date with mixed slashes and Chinese time of day"
similar to #232

datestring `2020/10/9 下午 02:26:26` is used in zh-CN language [HFS](https://rejetto.com/hfs/) servers
Other example: https://twitter.com/healthyscc/status/1299582251101949952

[code]

returns None

**expect:** datetime object

Thanks for the work on this library and making it open source

[2020-10-11 10:10] DarkSkull91 opened #809 "Wrong parsing with Italian date format"
I noticed when I try do parse a date string like this `mar 5 set 2017, 7:52` with this piece of code:
`dateparser.parse("mar 5 set 2017, 7:52", date_formats=["%a %d %b %Y, %H:%M"], languages=["it"])`
Parser returns a `NoneType`, it seems it's happend only with `mar` (martedì) which means tuesday. With all other weekdays it works.

[2020-10-11 10:45] noviluni commented on #809
Hi @DarkSkull91, thank you for opening this issue. This is a known bug that should be handled in the future versions:
https://github.com/scrapinghub/dateparser/issues/676

As there is another open issue (https://github.com/scrapinghub/dateparser/issues/337) with the same example I will close this.

If you have any idea about how to fix it you can comment on those issues with your ideas.

Thanks
--

[2020-10-11 10:45] #809 closed

[2020-10-11 10:50] noviluni commented on #679
Hi @jhawgs, sorry, I haven't time to spend on this. Please, go ahead!

I created this PR: https://github.com/scrapinghub/dateparser/pull/736, you can continue from that or submit a new/different PR. The only requirement is to add tests to check that nothing is broken and the coverage is still the same after merging the PR.

Thanks!

[2020-10-11 18:20] spovich commented on #791
I just ran into this with a python 3.8 project using dateparser 0.7.6.  By adding `tzlocal==2.1` as an explicit dependency, I was able to work around the error.  Look forward #792 landing and release! Thanks!

[2020-10-11 20:54] DeepSpace2 commented on #796
Maybe the settings should be an enum? this way they can be auto-completed (and auto documented, by using tools such as `sphinx.autodoc`) so there will be no need to "guess" what settings are available.

[2020-10-13 14:22] shauryauppal opened #810 "Query for 1year future is giving wrong results"
![Screenshot 2020-10-13 at 7 50 08 PM](https://user-images.githubusercontent.com/20338789/95873339-7508e880-0d8d-11eb-8ebb-e1b904121a04.png)

One year future query is giving output of 2019. We are in 2020.

[2020-10-15 01:57] jhawgs commented on #679
I've been working on the bug, but I don't believe that I am familiar enough with the code as I would need to be to put together a comprehensive fix. I did, however, find that the error occurs when running a function that only seems to be useful when one has set the PREFER_DATES_FROM setting to something other than the default. Because I am not using this functionality, I am simply bypassing the fu

[2020-10-16 13:57] andrek-data-axle opened #813 "Concurrency issues resulting in TypeError: unsupported operand type(s) for -: 'NoneType' and 'relativedelta'"
I am assuming its a concurrency issue because the only way I can get it to fail is running multiple calls to dateparser.parse('14 days ago UTC') on separate threads.

[code]

[2020-10-16 15:39] abkonsta commented on #813
I monkey patched in my project and was able to stress-test it with no more concurrency issues in freshness_date_parser
Pull request submitted.

[2020-10-17 13:35] #791 closed

[2020-10-22 17:32] kensouchen opened #816 "STRICT_PARSING bug"
[code]

failed to handle this case.

[2020-10-24 10:59] NEERAJAP2001 opened #817 "Unable to generate en.py"
reference comment: https://github.com/scrapinghub/dateparser/pull/812#issuecomment-712714740

@noviluni sir, in that Process, I had to generate ```en.py```, but I'm getting this error :

command: ```python write_complete_data.py```

Error :

[code]

[2020-10-26 08:23] alex-triphonov commented on #804
I found cause of this issue:
`    def _try_parser(self):
        _order = self._settings.DATE_ORDER
        try:
            **if self._settings.PREFER_LOCALE_DATE_ORDER:
                if self._settings._default:**
                    self._settings.DATE_ORDER = self.locale.info.get('date_order', _order)
            date_obj, period = date_parser.parse(
                self._get_translated_date(

[2020-10-26 13:02] #806 closed

[2020-10-26 13:34] noviluni commented on #817
Hi @NEERAJAP2001, could you submit the current code you have in a PR so I will be able to see the code? It's impossible for me to know the error without looking at the code.

If the work is still in progress you can add "WIP:" to the PR title or open it as a "Draft PR".

[2020-10-26 13:36] noviluni commented on #816
Hi @kensouchen, thank you for opening this issue. This is fixed in master and will be fixed in the next version, that will be released this week.

I will close this issue, feel free to open it again if you need it.

[2020-10-26 13:36] #816 closed

[2020-10-26 16:46] Ash-Crow opened #818 "Handling of W3C Date and Time Formats"
Hello, while trying to compare if dateparser gave the same results as the [date parsing function of feedparser](https://pythonhosted.org/feedparser/date-parsing.html), I found some strange results regarding the handling of the standard dates of the W3C as defined in their [Date and Time Formats note](https://www.w3.org/TR/NOTE-datetime)

[code]
It seems to default to a "YYYY-DD-MM" date format tha

[2020-10-26 18:02] niggle opened #819 "french date wrong output"
hi,
i don't know if i'm not using in the right way but when i type:

`
test = dateparser.parse('12 sep 2020')
datetime.datetime(2020, 9, 12, 0, 0)

test = dateparser.parse('12 sept 2020')
datetime.datetime(2020, 7, 12, 0, 0)
`

sept is an abbr of september in french. but the output gives july don't know why.

[2020-10-27 12:26] NEERAJAP2001 commented on #817
Yes, sir #821 is the code !!

[2020-10-27 13:52] #817 closed

[2020-10-27 14:09] noviluni commented on #818
Hi @Ash-Crow,

thank you for checking this. Could you confirm which version of `dateparser` did you used to do this test?

I tried with `dateparser==0.7.6` (and the version in master) and I got different results:

[code]

I would like to know the version you used to discard possible issues with the local configuration, etc.

[2020-10-27 14:12] noviluni commented on #819
Hi @niggle, which version are you using? I tried with `dateparser==0.7.6` and this works correctly.

You can also use: `dateparser.parse('12 sept 2020', locales=['fr'])` to restrict only to french.

Let me know if it works for you.

[2020-10-27 14:17] noviluni commented on #810
Hi @shauryauppal , which version of dateparser are you using? I tried with `dateparser==0.7.6` and it works:

[code]

[2020-10-27 15:13] shauryauppal commented on #810
dateparser==0.7.0

Installed by pip 14days ago

[2020-10-27 15:20] noviluni commented on #810
Hi @shauryauppal , thanks for sharing.

That version was released 2 years and 8 months ago and the issue you mention is already fixed in the last versions.

You can try updating the `dateparser` version by doing: `pip install --no-cache-dir --upgrade`. If this doesn't work maybe it's an issue with your pip package and you can try updating it with: `python3 -m pip install --upgrade pip`.

I will cl

[2020-10-27 15:20] #810 closed

[2020-10-27 16:25] niggle commented on #819
well doesn't work
[code]

maybe it's some dependecy that is outdated or something.

i also tested in google colab, and it gave me same results.

https://colab.research.google.com/drive/1OHFQ7arfnZhTcyg9nClzvuaI3akk5T6p?usp=sharing

[2020-10-27 19:19] noviluni commented on #676
There is a new case: in French "sept" means "September" but also "seven" and it gets confused.

Original issue: https://github.com/scrapinghub/dateparser/issues/819

[2020-10-27 19:20] noviluni commented on #819
Ok, now I understand what happens. "sept" means "September" but also "seven", so the string is wrongly translated to "12 7 2020" before processing.

I will try to think about how could we know if it's the month or the number...

[2020-10-27 20:41] niggle commented on #819
Don't know if it helps bu french dates don't use days in the middle normally its day month year, or year day month i think only english dates puts the day in the middle

[2020-10-30 09:53] noviluni opened #826 "Update CLDR data"
Once we merge this: https://github.com/scrapinghub/dateparser/pull/825

we will be able to **upgrade the CLDR data** easily. By doing it we will improve this library as we will be able to add support for more locales, fix old language bugs, etc.

I will try to explain **how to do it**.

1. Increase the `cldr_version` number (in `dateparser_scripts.utils.get_raw_data`). We should go version by vers

[2020-10-30 12:18] noviluni commented on #826
I can handle the first update to give an example of how to do it. :+1:

[2020-10-30 21:17] Gallaecio commented on #813
[dateparser is not thread-safe](https://github.com/scrapinghub/dateparser/issues/441).

[2020-10-30 21:45] Gallaecio commented on #676
One _raw_ approach I can think of is to translate all possible ways. Create as many copies of the translated strings as combinations of possible interpretations are possible, and yield a result for the first match possible.

However, instead of passing the first translation through all parsers and then trying the second translation, it may make sense to pass all translations through the first pars

[2020-10-30 22:56] abkonsta commented on #813
But it can be made to be...

On Fri, Oct 30, 2020, 5:17 PM Adrián Chaves <notifications@github.com>
wrote:

[2020-11-01 15:31] kutera opened #828 "STRICT_PARSING use"
BHello,
The STRICT_PARSING use is not so easy to understand.
Example with release 1.0.0

Same issue with search :

I expected None result
Or is it another solution to avoid relative date results ? Only if day, month and year are found.

Best Regards

[2020-11-04 07:42] agenterp opened #829 "Date will be Parsed as Time: Behaviour Changes from 0.7.6 to 1.0.0"
VERSION 0.7.6
In [2]: import dateparser
In [3]: dateparser.parse('15.10')
Out[3]: datetime.datetime(2020, 10, 15, 0, 0)

Version 1.0.0
dateparser.parse('15.10')
Out\[9\]: datetime.datetime(2020, 11, 4, 15, 10)

I found no way, to force 1.0.0 to deactivate the time-parsing?

[2020-11-04 21:47] Gallaecio commented on #813
Shall we close this and keep just https://github.com/scrapinghub/dateparser/issues/441 to track work to make it thread-safe?

[2020-11-04 21:51] Gallaecio commented on #828
Well, you can use the `PARSERS` setting to disable the relative parser.

Whether `STRICT_PARSING` should have prevented this to work, I’m unsure, although I’m slightly inclined towards your interpretation (if there is no year or month set explicitly and `STRICT_PARSING` is `True`, no date should be parsed).

[2020-11-04 21:57] abkonsta commented on #813
I was going to resubmit my pull request with the recommended edits.

On Wed, Nov 4, 2020, 4:47 PM Adrián Chaves <notifications@github.com> wrote:

[2020-11-05 06:27] kutera commented on #828
Thanks, this workaround solved my cases.
I added REQUIRE_PARTS too.

search.search_dates('90 days',settings={'REQUIRE_PARTS': ['day', 'month', 'year'], 'PARSERS':['absolute-time',]})

[2020-11-05 09:32] noviluni commented on #829
Hi @agenterp, this was introduced by this: https://github.com/scrapinghub/dateparser/pull/741/files

IMHO, the new behavior is better (I would like more feedback on this), as for me, "15.10" has more chances to be the hour than the day, but I totally agree that we should be able to disable the hour parsing to handle these behaviors better.

I think adding a new setting for this could be a really g

[2020-11-05 12:16] lopuhin commented on #829
I think it may depend on the locale, for me "15.10" looks more like a date as I've not seen "." separator used between hours and minutes, ":" is usually used, while "." is completely fine separator for day and month.

[2020-11-05 13:17] Ash-Crow commented on #818
Hi, I used dateparser version 0.7.6 too.

It might be an issue with the locale ?

dateparser version: 0.7.6

('fr_FR', 'UTF-8')

That said, I don't have the problem anymore, I don't understand why. I have recreated the virtualenv I was working in, but I didn't change any setting, so it's strange.

...     print(f, dateparser.parse(f).utctimetuple())
...
2020 time.struct_time(tm_year=2020, tm_mon=1

[2020-11-06 10:50] noviluni commented on #818
hmmm... I don't know @Ash-Crow .

As we are not able to reproduce this issue anymore I will close this ticket, but if you find the root cause or you have any new hint please, feel free to comment here, re-open the issue or open a new issue. :slightly_smiling_face:

Thanks!

[2020-11-06 10:50] #818 closed

[2020-11-06 10:55] noviluni commented on #829
Ok, in that case, instead of creating a new issue to disable the hours parsing, we could create a setting to indicate if it's acceptable to use a `dot` as an hour separator. What do you think? @lopuhin @agenterp

[2020-11-09 16:03] further-reading opened #831 "Add support for Japanese traditional calendar/Japanese digits"
The traditional japanese calendar counts its years based on the years since the current emperor has been reigning, described here https://www.ewc.co.jp/Pages/Information/CalendarEN.aspx It is usually written as a mix of Japanese text and digits, for example 平成30 is Heisei 30 which is 2018. This format is used uncommonly on the Japanese web.

Note that sometimes this can be accompanied by the use o

[2020-11-10 19:32] mnikolop opened #833 "Language specific date formats"
Hello,

In swedish there are 2 specific ways that dates are written very commonly that I have not seen support for. Specifically dates can be written like "den 24:e December" and "201226" (2020-12-26). The first one is not recognised due to the ":e" which is a very common way of writing dates in sweden and the second returns the wrong date datetime.datetime(2022, 2, 1, 6, 0). I am assuming the sec

[2020-11-11 09:33] noviluni commented on #833
Hi @mnikolop
You can add additional/custom formats by using the `date_formats` parameters. For example:

[code]

This approach could be used for the other date format, but it will only work if the configured locale in your computer is `sv_SE`:
[code]
(I changed to "Januari" to check that it works as expected because "December" is the same word in English).

If it doesn't work for you, you can chan

[2020-11-19 12:30] herleswarna opened #835 "Numbers are parsed as time despite `STRICT_PARSING=True`"
1. It is subjective but I don't think `23` should be parsed to 2:03
2. Strict parsing should reject such result because of missing year, month, day, but it doesn't

[code]

[2020-11-19 15:12] herleswarna opened #836 "`dateparser.search.search_parse` fails to parse trivial examples, except US locale"
[code]

The order of month and day is preserved from original language, but string is parsed  as english. This introduces an error for european languages which don't use US `MDY` order. Simple negative example:

[code]

[code]

Should be

[code]

[2020-11-20 20:38] manycoding opened #837 "Parse Taiwan dates"
Hey hey, Taiwan has a special case which is not currently supported in dateparser 0.7.6
[code]

Would be nice to have it

[2020-11-21 18:27] surkova commented on #262
Another good example for ranges is `between Friday and Monday` or `between Sept 1st and Oct 10th` and similar.

[2020-11-21 18:33] surkova opened #838 "Add support for `by <time>` in relative parser"
Add support for `by <time>` in relative parser. Currently no result produced if time separator is `by`.
[code]
 However `at` is well supported:
[code]

Python version
[code]

[2020-11-22 12:47] noviluni commented on #835
Hi @herleswarna , what version are you using?

This was fixed in the last version (`dateparser==1.0.0`):

[code]

[2020-11-22 13:00] noviluni commented on #838
Hi @surkova, thanks for the feedback! I have just added a PR to add support to "by \<time\>": https://github.com/scrapinghub/dateparser/pull/839

However, the last version for the library is `dateparser=1.0.0`, I really recommend you to upgrade to get the last features :)

[2020-11-22 14:15] surkova commented on #838
Hi! And thanks for such fast feedback and action!

Yeah I know that there's a newer version, it's just that currently our little project is on code freeze so we wait a bit before merging even dependency updates ;)

[2020-11-22 15:38] noviluni commented on #837
Hi @manycoding it would be a good idea if you can provide the results of those examples or where they were found.

I investigated a little and I think this is called the "Taiwanese Calendar R.O.C. Era", and can be calculated by doing `Republican calendar Year = Western calendar Year - 1911`, so year 101 means 2012.

we could try to implement this, but I'm not sure how could we know if `101/05/25`

[2020-11-22 15:42] noviluni commented on #813
Closing as duplicate of #441. I hope this PR: https://github.com/scrapinghub/dateparser/pull/834 would fix this once and for all :)

Thanks for providing feedback!

[2020-11-22 15:42] #813 closed

[2020-11-22 17:44] noviluni commented on #828
As part of the last point here: https://github.com/scrapinghub/dateparser/issues/796 (which I'm working on), I will add notes in the docs regarding what parser are affected by each setting.

[2020-11-22 18:39] noviluni commented on #330
From the README (https://github.com/scrapinghub/dateparser#false-positives):

Since we added this in the README this can't be considered a bug anymore. As @sarthakmadaan mentioned "to" it's an abbreviation for "Thursday" in Finnish, so the result is technically correct.

Thank you guys for the feedback :)

[2020-11-22 18:39] #330 closed

[2020-11-22 18:44] noviluni commented on #259
Closing this issue. The reasons are explained in this comment: https://github.com/scrapinghub/dateparser/issues/330#issuecomment-731809713

Thank you for your feedback!

[2020-11-22 18:44] #259 closed

[2020-11-22 18:50] noviluni commented on #337
To avoid duplicated issues I will close this issue in favor of https://github.com/scrapinghub/dateparser/issues/676 (as it's more generic)

Thanks

[2020-11-22 18:50] #337 closed

[2020-11-22 19:57] manycoding commented on #837
These are coming from dates on some Taiwanese receipts.
We know for sure that their year has 3 digits, at least for the next 900 years, so I think it should be enough to recognise it.

[2020-11-23 09:26] noviluni opened #842 "Should we add support for duplicate timezone info?"
Sometimes the timezone info is duplicate:

* `'Mon, 25 Jun 2018 10:37:47 +0530 (GMT+05:30)'` (source: https://github.com/scrapinghub/dateparser/issues/425)
* `'2012-11-02 04:16:13.000123 PM EST (-05:00)'` (source: https://github.com/scrapinghub/dateparser/issues/743)

and dateparser can't handle them. As this is used in some internet sources like the Gmail timestamp, should we add support for it?

[2020-11-23 09:27] noviluni commented on #425
Dateparser (currently) doesn't support duplicate timezone information.

You could parse this by removing the `(GMT+05:30)`. Example:
[code]

I opened a new issue to discuss if we should support duplicate timezone info: https://github.com/scrapinghub/dateparser/issues/842

(Note that the regex could be just `r'\(.*\)',` once we merge this: https://github.com/scrapinghub/dateparser/pull/841)

[2020-11-23 09:31] noviluni commented on #743
It seems that what I mentioned didn't work because of the duplicate timezone info. I have just opened a new issue to discuss if we should support duplicate timezone info: #842.

In the meanwhile, you could use the same workaround as here: https://github.com/scrapinghub/dateparser/issues/425#issuecomment-732037467 (that is: removing the parenthesis timezone info).

[2020-11-23 09:45] noviluni commented on #433
This is not exactly true. The `date_formats` depends on the locale set on the computer. If the locale is 'es' this shouldn't happen.

You can usually change the locale by doing this (it works for me on Ubuntu):
[code]

Now this will work:
[code]

I tried to figure out if we could internally change the locale and try the format in multiple locales, but I think changing the locale is discouraged and

[2020-11-23 09:59] noviluni commented on #341
This is not implemented as we apply different parsers (`relative-time`, `absolute-time`, `custom-formats`, `timestamp`...) and some of them can parse dates that simply cannot be expressed as a format string.

However, it could be technically possible to return the used date_format when that's the case, so I'm open to this if someone wants to implement it.

[2020-11-23 09:59] noviluni commented on #409
Closed as duplicate of this: https://github.com/scrapinghub/dateparser/issues/341

[2020-11-23 09:59] #409 closed

[2020-11-23 10:09] noviluni commented on #375
This should work with `date_formats` once we merge this: https://github.com/scrapinghub/dateparser/pull/840/files

[code]

[2020-11-23 10:34] surkova opened #843 "Add support for month abbreviations in search_dates"
I know it's not the latest version, but nothing in the changelog indicates this behavior should be different on `1.0.0`.
[code]

[2020-11-23 10:51] noviluni commented on #843
Hi @surkova You are right, this is not fixed in `1.0.0`, however, with the new version we added this warning in the docs:

https://dateparser.readthedocs.io/en/latest/introduction.html#search-for-dates-in-longer-chunks-of-text

We have been tagging all the `search_dates` issues with this tag: https://github.com/scrapinghub/dateparser/labels/search_dates in order to handle all of them together in t

[2020-11-23 12:30] herleswarna commented on #835
You are right, I was using `0.7.6`. Sorry for the trouble.

[2020-11-23 12:30] #835 closed

[2020-11-23 12:40] noviluni commented on #835
Don't worry! It's better if you open a ticket if you detect weird behaviors and you don't find the root cause! :).

[2020-11-23 16:03] Gallaecio commented on #842
I think we should. I do wonder, however, what to do in case of non-matching timezones.

[2020-11-23 16:06] Gallaecio commented on #433
Looks like we might need something like https://stackoverflow.com/a/24070673

[2020-11-23 16:12] noviluni commented on #842
Now `dateparser` is returning `None` for those expressions. I'm not sure if it's the best solution, but we could return `None` if the timezones are non-matching and at least it would work better than now. Alternatively, we could pick the first option, as we do for example if we encounter a 24hr time format with meridian info (https://github.com/scrapinghub/dateparser/pull/634/files).

Let me know

[2020-11-23 16:39] noviluni commented on #691
Since we merged this: https://github.com/scrapinghub/dateparser/pull/841 the original issue won't happen again and we can close this ticket.

We could open a new ticket regarding the language issue, but I don't have enough Japanese knowledge to ever know if it's correctly formed or not, so I will just close it. Feel free to open a new language-issue.

[2020-11-23 16:39] #691 closed

[2020-11-23 19:37] Gallaecio commented on #842
I guess returning something is better than returning nothing in this case. If in the future people ask for more control on the outcome of these situations, we can always add a setting.

[2020-11-23 20:03] thernstig commented on #375
@noviluni That is a good approach, that is the approach many time libraries take to let you specify the format. In addition, it seems Twitters API v2 will have a better `created_at` from the start.

[2020-11-24 13:39] #838 closed

[2020-11-25 11:50] noviluni opened #845 "Add script to automatically update the language order from w3techs"
Once we merge this PR: https://github.com/scrapinghub/dateparser/pull/805, we will start changing the order the languages are tried by using the data in the w3techs website. This will return more accurate results as well as quickier results, as described in the original issue: https://github.com/scrapinghub/dateparser/issues/714.

In order to be able to update that list automatically we could add

[2020-11-26 13:23] mnikolop commented on #833
How could this be applied in the `search_dates` function without is raising a `SettingValidationError`?

[2020-11-26 14:01] noviluni opened #846 "`search_dates` doesn't support custom date formats"
It would be nice to add support fot his, but I don't know how feasible it is.

Original comment: https://github.com/scrapinghub/dateparser/issues/833#issuecomment-734296359

[2020-11-26 14:05] noviluni commented on #833
Hi @mnikolop the `search_dates()` function does not support `date_formats`. I have just opened a new issue to discuss this: https://github.com/scrapinghub/dateparser/issues/846

As stated [in the docs](https://dateparser.readthedocs.io/en/latest/introduction.html#search-for-dates-in-longer-chunks-of-text), the support for searching dates needs a lot of improvement, so I really encourage you to add

[2020-11-26 14:07] noviluni commented on #846
_Maybe_ we could move the `date_formats` to the settings instead of using a parameter. I didn't think this to much, but it could make sense to change this API (first adding support for both formats and later deprecating the second one).

Let me know your opinions.

[2020-11-26 14:13] noviluni commented on #387
Closing this a it is fixed since `dateparser==0.7.4` (https://github.com/scrapinghub/dateparser/pull/611)

[2020-11-26 14:13] #387 closed

[2020-11-26 14:25] noviluni commented on #700
Hi!

This can be partially achived by using `DateDataParser()` and `get_date_data()` instead of using directly `dateparser.parse()`.

[code]

The "period" indicates the smaller part (in this example "Month").

However, if the missing part is the year, for example, we won't be able to know it, so we should probably implement something new. I personally think that the best would be removing the "per

[2020-11-26 14:28] noviluni commented on #553
We can't provide incomplete dates, but we can give more context by using `DateDataParser()` and `get_date_data()` as explained in this comment: https://github.com/scrapinghub/dateparser/issues/700#issuecomment-734326956

So I will close this issue in favor of the other as it's pointing to the correct solution we will work on in the future.

Thanks for the feedback :)

[2020-11-26 14:28] #553 closed

[2020-11-26 14:39] noviluni commented on #765
I think this could be fixed by using the the PARSERS settings using the new ISO parser (https://github.com/scrapinghub/dateparser/pull/790) before the others, but I'm not sure.

cc:  @Gallaecio

[2020-11-26 15:47] noviluni commented on #533
I tried with the last version of `dateparser` (1.0.0) and it takes less time than `pandas`, so I think it shouldn't be considered an issue.

I will close it. Feel free to comment or reopen it if you thing there is something that should be improved :slightly_smiling_face:

[2020-11-26 15:47] #533 closed

[2020-11-26 15:51] noviluni commented on #656
I will close this issue as it's not a bug neither a feature request. If you need support using dateparser you can use StackOverflow.

Please, feel free to reopen the ticket if yout think there is anything wrong with the library :)

[2020-11-26 15:51] #656 closed

[2020-11-26 15:55] noviluni commented on #514
This was fixed in the last version `dateparser==1.0.0`: https://github.com/scrapinghub/dateparser/pull/781

Thanks for the feedback :)

[2020-11-26 15:55] #514 closed

[2020-11-27 11:32] boerni667 opened #848 "Parse Dates from the French Revolutionary calendar and Roman Numbers"
It would be nice if the dateparser would support Dates based on the french Revolutionary Calender and Dates written in Roman numbers.

[2020-11-27 11:39] noviluni commented on #848
Hi @boerni667!

We started the [`number-parser` project](https://github.com/scrapinghub/number-parser) (it is at an early stage) to parse numbers with the idea of integrating it with `dateparser` once it's more stable. We will probably add support for roman numbers there and we could use it here.

Thanks for the idea! I will take it into consideration.

[2020-11-27 12:24] boerni667 commented on #848
Yeah, i've got test data set containing redicoulous dates and try to parse that into machine-readable dates.

e.g.:

zgrep ^An testdata/260c264c.txt.gz

An 10 [1802]
An 1 (1792/93]
An 1 [1792/93]
An 1. [1792/93]
An 12 1804
An 13 [1805]
An. 1653
An. 1737
An. 2 [1793/1794]
An 2. [1793/94]
An 2. de la République française, une et indivisible [i.e. 1793/94]
An 3 [1794]
An 3 [1794/95]
An 3.eme [=1795]

[2020-11-27 14:51] skjerns commented on #533
Yes! Seems to be much faster now :)

[2020-12-02 08:42] sudeepjd opened #849 "DateParser throws error when imported on embedded Python."
The dateparser library uses a exec_module on the _strptime. This causes the import to fail when using the the embedded version of python as the import happens via zipimport and zipimport does not have exec_module() so the following error gets thrown on import dateparser

[code]

**Steps to Reproduce**

1. Download the python.zip file the link below
https://www.python.org/ftp/python/3.9.0/python-3.

[2020-12-02 20:20] realizard opened #850 "STRICT_PARSING failed with MM/YYYY format"
Hi,

I've noticed `dateparser.parse("10/2017", settings={"STRICT_PARSING": True})` gives `datetime.datetime(2017, 10, 10, 0, 0)`.

Is this the intended behavior? (even if the input string is missing a component) Are there any workarounds if I'd want it to output None?

[2020-12-03 10:11] noviluni commented on #850
Hi @realizard This is definitely a bug.

I didn't check it further but it seems that it fails when the locale is `zh`. As a workaround, you can select a subset of languages without including `zh`, with `languages=`. For example:

[code]

[2020-12-03 14:49] boerni667 opened #852 "output precision for dates with incomplete data"
Hi,

as you maybe know from my other issue i'm trying to parse date from an bibliographic database into an ISO8601 String.
This format is machine-readable and has the advantage, that if the data is incomplete, i don't need to fill it up with guessed Dates.

At the moment i find it quite hard to determine how precise the datetime object is, which i get out of the parser, and which dates are parsed